.loadButton() {
    transition: 
        width 0.2s @ease,
        height 0.2s @ease,
        color 0.2s @ease,
        border-radius 0.2s @ease,
        background-color 0.3s @ease;

    &:hover {
    }
    &.load {
    }
}
.tooltipBottom(@translate-x: translateX(0%), @background-color: #000) {
    position: relative;
    span.tooltip {
        position: absolute;
        top: 109%;
        left: 0;
        font-size: 10px;
        //transform: translateY(-50%);
        transform: @translate-x;
        background-color: @background-color;
        color: white;
        padding: 5px 10px;
        white-space: nowrap;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.3s ease, visibility 0.3s ease;
        border-radius: 3px; /* Optional: Adds rounded corners to the tooltip */
        box-shadow: 2px 2px 5px rgba(0,0,0,0.2); /* Optional: Adds a slight shadow for better visibility */
    }
    &:hover {
        //border: 1px solid #bebebe;
        span.tooltip {
            opacity: 1;
            visibility: visible;
        }
    }
} 

.largePanel(@border-color:#727272, @bg-color: #333, @hover-bg-color: #3d3d3d) {
    cursor: pointer;
    background-color: @bg-color;
    border: 1px solid @border-color;
    border-radius: 6px;
    padding: 42px 45px;
    box-shadow: 2px 5px 16px rgba(0, 0, 0, 0.2);

    transition: 
        background-color 0.2s @cubic-bezier1,
        box-shadow 0.2s @cubic-bezier1,
        border 0.2s @cubic-bezier1;
    &:hover {
        background-color: @hover-bg-color;
        box-shadow: 2px 5px 16px rgba(0, 0, 0, 0.4);
        border: 1px solid #949494;
    }
}

.screen-locked {
    overflow: hidden; 
    position: relative; 
    cursor: wait;
    &::after {
        content: "";
        position: fixed;     /* covers the entire viewport */
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(255, 255, 255, 0.2);
        z-index: 99999;
        pointer-events: auto;
    }
}