.DS_Store
*.sw[a-z]
*.pyc
Session.vim
!.gitkeep
.idea
venv*
.envrc
.env
*.pickle
*.rdb
.python-version
.ipynb_checkpoints

opus

# local
local/stdout
local/nginx.pid
local/mongodb/db/*
local/redis/dumps/*

# web-client
web-client/node_modules/*
web-client/package-lock.json

# web-server
web-server/nginx/cache
web-server/mongodb/logs
web-server/mongodb/data
web-server/mongodb/local*
web-server/mongodb/mongod.lock
web-server/redis_session/data/*
web-server/redis_session/logs/*
web-server/views/css/*
web-server/views/js/*
web-server/views/video/interview/top/interview-top.mp4
web-server/views/node_modules/
web-server/views/package-lock.json
web-server/views/video/top/TutorialJessicas_v2_volumes2.mp4
web-server/views/img/interviews/samplemail/video/

# fileserver
fileserver/test_video.webm
fileserver/lara.webm
