{% from "/macro/lang-selector.html" import lang_selector %} 
{%- set base_url = "https://thinkxinc.com" -%}

<footer id="corporate-footer">
    <div class="footer-container">

      <div class="footer-contents-top">

        <div class="top-left">
          <div class="basic">
            <a class="footer-company-logo" href="{{ base_url }}/" target="_blank">
              <img src="{{ base_url }}/img/thinkx-logo/logo-with-text.png"/>
            </a>
            <p class="caption">
              based at Tokyo.
            </p>
          </div>
        </div>

        <div class="top-right">
          <ul class="contents-list">
            <h4 class="title about-title-container">{{ locale_dict['menu_title_about'][lang] }}</h4>
            <li class="sub-menu-content"><a href="{{ base_url }}/{{ lang }}/" target="_blank">{{ locale_dict['menu_content_home'][lang] }}</a></li>
            <li class="sub-menu-content"><a href="{{ base_url }}/{{ lang }}/mission" target="_blank">{{ locale_dict['menu_content_mission'][lang] }}</a></li>
            <li class="sub-menu-content"><a href="{{ base_url }}/{{ lang }}/philosophy" target="_blank">{{ locale_dict['menu_content_philosophy'][lang] }}</a></li>
            <li class="sub-menu-content"><a href="{{ base_url }}/{{ lang }}/about" target="_blank">{{ locale_dict['menu_content_about'][lang] }}</a></li>
            <li class="sub-menu-content"><a href="{{ base_url }}/{{ lang }}/history" target="_blank">{{ locale_dict['menu_content_history'][lang] }}</a></li>
          </ul>
          <ul class="contents-list">
            <h4 class="title product-title-container">{{ locale_dict['menu_title_product'][lang] }}</h4>
            <li class="sub-menu-content"><a href="{{ base_url }}/{{ lang }}/products/Quantz-Voice-AI-OS" target="_blank">Quantz<sup>®</sup> Voice AI OS</a></li>
            <li class="sub-menu-content"><a href="https://quantz.thinkxinc.com/{{ lang }}" target="_blank">Quantz<sup>®</sup></a></li>
            <li class="sub-menu-content"><a href="{{ base_url }}/" target="_blank">ILRSA</a></li>
            <li class="sub-menu-content"><a href="{{ base_url }}/" target="_blank">CITYWALK</a></li>
            <li class="sub-menu-content"><a href="{{ base_url }}/" target="_blank">Latent Semantic Hyperspace (LSH)</a></li>
            <li class="sub-menu-content"><a href="{{ base_url }}/" target="_blank">JPTextParser</a></li>
          </ul>
          <ul class="contents-list">
            <h4 class="title">{{ locale_dict['menu_title_blog'][lang] }}</h4>
            <li class="sub-menu-content"><a href="{{ base_url }}/{{ lang }}/blognews" target="_blank">{{ locale_dict['menu_content_news'][lang] }}</a></li>
          </ul>
          <ul class="contents-list">
            <h4 class="title">{{ locale_dict['menu_title_application'][lang] }}</h4>
            <li class="sub-menu-content"><a href="{{ base_url }}/{{ lang }}/apply/regular" target="_blank">{{ locale_dict['menu_content_regular'][lang] }}</a></li>
            <li class="sub-menu-content"><a href="{{ base_url }}/{{ lang }}/apply/intern" target="_blank">{{ locale_dict['menu_content_intern'][lang] }}</a></li>
            <li class="sub-menu-content"><a href="{{ base_url }}/{{ lang }}/apply/collaborator" target="_blank">{{ locale_dict['menu_content_collaborator'][lang] }}</a></li>
          </ul>
          <ul class="contents-list">
            <h4 class="title">{{ locale_dict['menu_title_inquiry'][lang] }}</h4>
            <li class="sub-menu-content"><a href="{{ base_url }}/{{ lang }}/inquiry/product" target="_blank">{{ locale_dict['menu_content_inquiry_product'][lang] }}</a></li>
            <li class="sub-menu-content"><a href="{{ base_url }}/{{ lang }}/inquiry/collaboration" target="_blank">{{ locale_dict['menu_content_inquiry_collaboration'][lang] }}</a></li>
            <li class="sub-menu-content"><a href="{{ base_url }}/{{ lang }}/inquiry/others" target="_blank">{{ locale_dict['menu_content_inquiry_others'][lang] }}</a></li>
          </ul>
        </div>

      </div>

      <div class="footer-contents-middle">
        <div class="mailnews">
          <p class="mailnews-caption">If you sympathize with our motivation, let's become a member of ThinkX family. Sign up to receive email letters, latest informations about us. </p>
          <form>
            <input type="text" placeholder="Your Email Address" name="emailletter">
          </form>
        </div>
      </div>

      <div class="footer-contents-bottom">
        <p class="copyright">© 2015-2024 ThinkX Inc.</p>
      </div>

    </div>
  </footer>
