<header id="VerticalHeader">
  <img class="logo" src="/img/logo.png" srcset="/img/logo/white@2x_nomouse.png" alt="Quantz Logo">
  <ul class="menu">
    <li class="logout item">
      <a href="/v1/{{ lang }}/logout">
        <img id="logoutIcon" class="logoutIcon icon" src="/img/logout-icon.svg" alt="Logout Icon">
      </a>
      <span class="tooltip">{{ logout_menu_title }}</span>
    </li>
    <li class="settings item">
      <img id="settingsIcon" class="settingsIcon icon" src="/img/settings-icon.svg" alt="Settings Icon">
      <span class="tooltip">{{ settings_menu_title }}</span>
    </li>
  </ul>
</header>