<header id="VerticalHeader">
  <div class="upper">
    <img class="logo" src="/img/logo.png" srcset="/img/logo/white@2x.png" alt="Quantz Logo">
    <ul class="menu">
      <li class="interview item">
        <a href="/v1/{{ lang }}/interviews">
          <img id="interviewIcon" class="interviewIcon icon" src="/img/interview-icon-1.svg" alt="Logout Icon">
        </a>
        <span class="tooltip">{{ interview_menu_title }}</span>
      </li>
    </ul>
  </div>
  <div class="bottom">
    <ul class="menu">
      <li class="logout item">
        <a href="/v1/{{ lang }}/logout">
          <img id="logoutIcon" class="logoutIcon icon" src="/img/logout-icon.svg" alt="Logout Icon">
        </a>
        <span class="tooltip">{{ logout_menu_title }}</span>
      </li>
      <li class="settings item">
        <img id="settingsIcon" class="settingsIcon icon" src="/img/settings-icon.svg" alt="Settings Icon">
        <span class="tooltip">{{ settings_menu_title }}</span>
      </li>
    </ul>
  </div>
</header>