
<script src="https://quantz.thinkxinc.com/js/dist/quantz-button-v10-dev.js"></script>
INTRO
<div class="QBTN-button-loader" data-publisher-id="6761336d842132052346a1bd" data-quantz-config='{"buttonType":"Default","iconSize":30,"fontSize":13,"buttonWidth":120,"buttonHeight":50,"buttonColor":"#930ea4","borderRadius":20,"displayLocale":true,"balloonRectWidth":"17vw","balloonRectHeight":"30vh","defaultLang":"en","modelId":"5e407bd14a8e8d64b60acf10","responseMode":0}'></div>

ABOUT KAZUKI
can you introduce me
<div class="QBTN-button-loader" data-publisher-id="6761336d842132052346a1bd" data-quantz-config='{"buttonType":"Default","iconSize":30,"fontSize":13,"buttonWidth":120,"buttonHeight":50,"buttonColor":"#930ea4","borderRadius":20,"displayLocale":true,"balloonRectWidth":"17vw","balloonRectHeight":"30vh","defaultLang":"en","modelId":"93a0bb2a24e2c5d92e9aa3e3","responseMode":0}'></div>



MOTTAINAI
paint 001 Mottainai
<div class="QBTN-button-loader" data-publisher-id="6761336d842132052346a1bd" data-quantz-config='{"buttonType":"Default","iconSize":30,"fontSize":13,"buttonWidth":120,"buttonHeight":50,"buttonColor":"#930ea4","borderRadius":20,"displayLocale":true,"balloonRectWidth":"17vw","balloonRectHeight":"30vh","defaultLang":"en","modelId":"423976b3822d56ca0b895162","responseMode":0}'></div>