{% extends "general/base.html" %}

{% block head %}
<link rel="stylesheet" href="/css/main.css">
<script src="/js/simplicity/dist/simplicity.js"></script>
{% endblock %}

{% block content %}
<script>
{
    const lang = "{{ lang }}";
    const langName = "{{ lang_name }}";
}
</script>

{% include 'common/header.html' %}

<div id="privacy" class="privacy">
    <div class="main">

<h1 class="title">Politique de Confidentialité</h1>
<p class="updated">Dernière mise à jour : 6 juin 2024</p>
<p>Bienvenue chez Quantz. Nous nous engageons à protéger et à respecter votre vie privée. Nous prenons votre vie privée au sérieux et ne collecterons, traiterons et utiliserons vos informations personnelles pour fournir les services qu'après avoir obtenu votre consentement.</p>
<p>Veuillez lire attentivement cet avis pour comprendre ce que nous faisons. Si vous ne comprenez pas certains aspects de notre Politique de Confidentialité, n'hésitez pas à <a href="mailto:{{ support_mail }}">nous contacter</a> ou comme décrit à la fin de cette politique. Veuillez noter que votre utilisation de Quantz est également soumise à nos <a href="/{{ lang }}/terms">Conditions de Service</a>.</p>

<h2 class="subtitle">Portée ; Sites Tiers</h2>
<p class="thirdparty">Cette Politique de Confidentialité s'applique uniquement aux informations que nous collectons chez et à travers Quantz. Quantz peut également contenir des liens vers des sites tiers qui ne sont ni possédés ni contrôlés par nous. Veuillez être conscient que nous ne sommes pas responsables des pratiques de confidentialité de ces autres sites tiers. Nous vous encourageons à être conscient lorsque vous quittez notre application et à lire les déclarations de confidentialité de chaque site web qui collecte des informations personnelles.</p>

<h2 class="subtitle">Informations que Nous Collectons</h2>
<h3 class="section-title">1. Données Personnelles</h3>
<p>Lors de l'utilisation de Notre Service, nous pouvons vous demander de nous fournir certaines informations personnellement identifiables qui peuvent être utilisées pour vous contacter ou vous identifier. Les informations personnellement identifiables peuvent inclure, mais ne sont pas limitées à :</p>
<h3 class="section-title">2. Données d'Utilisation</h3>
<p>Les Données d'Utilisation sont collectées automatiquement lors de l'utilisation du Service.</p>
<p>Les Données d'Utilisation peuvent inclure des informations telles que l'adresse de Protocole Internet de Votre Appareil (par exemple, adresse IP), le type de navigateur, la version du navigateur, les pages de notre Service que Vous visitez, l'heure et la date de Votre visite, le temps passé sur ces pages, les identifiants uniques de dispositifs et d'autres données diagnostiques.</p>
<p>Lorsque Vous accédez au Service par ou via un appareil mobile, Nous pouvons collecter certaines informations automatiquement, y compris, mais sans s'y limiter, le type d'appareil mobile que Vous utilisez, l'ID unique de Votre appareil mobile, l'adresse IP de Votre appareil mobile, Votre système d'exploitation mobile, le type de navigateur Internet mobile que Vous utilisez, les identifiants uniques de dispositifs et d'autres données diagnostiques.</p>
<p>Nous pouvons également collecter des informations que Votre navigateur envoie chaque fois que Vous visitez notre Service ou lorsque Vous accédez au Service par ou via un appareil mobile.</p>

<h2 class="subtitle">Comment Nous Collectons les Informations</h2>
<p>Nous utilisons des Cookies et des technologies de suivi similaires pour suivre l'activité sur Notre Service et stocker certaines informations. Les technologies de suivi utilisées sont des balises, des étiquettes et des scripts pour collecter et suivre les informations et pour améliorer et analyser Notre Service. Les technologies que nous utilisons peuvent inclure :</p>
<h3 class="section-title">1. Cookies ou Cookies de Navigateur.</h3>
<p>Un cookie est un petit fichier placé sur Votre Appareil. Vous pouvez configurer Votre navigateur pour refuser tous les cookies ou pour indiquer quand un cookie est envoyé. Cependant, si Vous n'acceptez pas les cookies, Vous pourriez ne pas être capable d'utiliser certaines parties de notre Service. À moins que Vous n'ayez ajusté Votre configuration de navigateur afin qu'il refuse les cookies, notre Service peut utiliser des cookies.</p>
<h3 class="section-title">2. Balises Web.</h3>
<p>Certaines sections de notre Service et nos emails peuvent contenir de petits fichiers électroniques connus sous le nom de balises web (également appelées gifs transparents, tags de pixel et gifs d'un pixel) qui permettent à la Compagnie, par exemple, de compter les utilisateurs qui ont visité ces pages ou ouvert un email et pour d'autres statistiques de site web connexes (par exemple, enregistrer la popularité d'une section et vérifier l'intégrité du système et du serveur).</p>

<h2 class="subtitle">Comment Nous Utilisons Vos Informations</h2>
<p>Nous pouvons utiliser les Données Personnelles pour les fins suivantes :</p>
<ul class="section-list">
    <li>Pour fournir et maintenir notre Service, y compris pour surveiller l'utilisation de notre Service.</li>
    <li>Pour gérer Votre Compte : pour gérer Votre inscription en tant qu'utilisateur du Service. Les Données Personnelles que Vous fournissez peuvent Vous donner accès à différentes fonctionnalités du Service qui sont disponibles pour Vous en tant qu'utilisateur enregistré.</li>
    <li>Pour la performance d'un contrat : le développement, la conformité et l'entreprise du contrat d'achat pour les produits, articles ou services que Vous avez achetés ou de tout autre contrat avec Nous par le biais du Service.</li>
    <li>Pour Vous contacter : Pour vous contacter par email ou d'autres formes équivalentes de communication électronique, telles que les notifications push d'une application mobile concernant les mises à jour ou les communications informatives liées aux fonctionnalités, aux produits ou aux services sous contrat, y compris les mises à jour de sécurité, lorsque cela est nécessaire ou raisonnable pour leur mise en œuvre.</li>
    <li>Pour Vous fournir des nouvelles, des offres spéciales et des informations générales sur d'autres biens, services et événements que nous proposons qui sont similaires à ceux que Vous avez déjà achetés ou renseignés, à moins que Vous n'ayez choisi de ne pas recevoir de telles informations.</li>
    <li>Pour gérer Vos demandes : Pour assister et gérer Vos demandes à Nous.</li>
    <li>Pour les transferts d'entreprise : Nous pouvons utiliser Vos informations pour évaluer ou réaliser une fusion, une cession, une restructuration, une réorganisation, une dissolution ou autre vente ou transfert de tout ou partie de Nos actifs, que ce soit dans le cadre d'une entreprise en cours ou dans le cadre d'une faillite, liquidation ou procédure similaire, dans laquelle les Données Personnelles que Nous détenons sur les utilisateurs de notre Service font partie des actifs transférés.</li>
    <li>Pour d'autres fins : Nous pouvons utiliser Vos informations pour d'autres fins, telles que l'analyse de données, l'identification des tendances d'utilisation, la détermination de l'efficacité de nos campagnes promotionnelles et pour évaluer et améliorer notre Service, nos produits, services, marketing et votre expérience.</li>
</ul>

<h2 class="subtitle">Divulgation de Vos Informations</h2>
<p>Nous pouvons partager Vos informations personnelles dans les situations suivantes :</p>
<ul class="section-list">
    <li>À nos filiales et affiliées, où votre consentement est expressément donné.</li>
    <li>À des entrepreneurs, fournisseurs de services et autres tiers que nous utilisons pour soutenir notre entreprise et qui sont liés par des obligations contractuelles de garder les informations personnelles confidentielles et de les utiliser uniquement pour les fins pour lesquelles nous les leur divulguons.</li>
    <li>À un acheteur ou autre successeur en cas de fusion, cession, restructuration, réorganisation, dissolution ou autre vente ou transfert de tout ou partie de nos actifs, que ce soit dans le cadre d'une entreprise en cours ou dans le cadre d'une faillite, liquidation ou procédure similaire, dans laquelle les informations personnelles que nous détenons sur nos utilisateurs d'APP font partie des actifs transférés.</li>
    <li>Pour réaliser l'objectif pour lequel vous les avez fournies.</li>
    <li>Pour tout autre but divulgué par nous lorsque vous fournissez les informations.</li>
    <li>Avec votre consentement là où les lois applicables l'exigent.</li>
    <li>Pour se conformer à toute ordonnance judiciaire, loi ou procédure légale, y compris pour répondre à toute demande gouvernementale ou réglementaire.</li>
    <li>Pour faire valoir nos droits découlant de tout contrat conclu entre vous et nous.</li>
    <li>Si nous croyons que la divulgation est nécessaire ou appropriée pour protéger les droits, la propriété ou la sécurité de nous, nos clients ou d'autres personnes.</li>
    <li>Avec votre consentement : Nous pouvons divulguer vos informations personnelles pour tout autre but avec votre consentement.</li>
</ul>

<h2 class="subtitle">Conservation de Vos Données Personnelles</h2>
<p>La Société conservera Vos Données Personnelles uniquement aussi longtemps que nécessaire pour les fins énoncées dans cette Politique de Confidentialité. Nous conserverons et utiliserons Vos Données Personnelles dans la mesure nécessaire pour nous conformer à nos obligations légales (par exemple, si nous sommes tenus de conserver vos données pour nous conformer aux lois applicables), résoudre des litiges et appliquer nos accords et politiques légaux.</p>
<p>La Société conservera également les Données d'Utilisation à des fins d'analyse interne. Les Données d'Utilisation sont généralement conservées pendant une période plus courte, sauf lorsque ces données sont utilisées pour renforcer la sécurité ou améliorer la fonctionnalité de Notre Service, ou nous sommes légalement obligés de conserver ces données pendant des périodes plus longues.</p>

<h2 class="subtitle">Transfert de Vos Données Personnelles</h2>
<p>Quantz est maintenu dans la Région Administrative Spéciale du Canada (« HKSAR »), et vous comprenez que les données stockées dans HKSAR peuvent être soumises à des demandes légales des tribunaux locaux ou des autorités de l'application de la loi. Toute information que vous fournissez via Quantz peut être stockée, traitée, transférée entre et accessible depuis HKSAR et d'autres districts ou pays, qui peuvent ne pas garantir le même niveau de protection que celui dans lequel vous résidez. Vous consentez explicitement et acceptez un tel transfert, stockage et/ou traitement de vos informations en dehors du district ou du pays dans lequel vous résidez.</p>
<p>Si vous êtes de l'UE, il est important pour vous de savoir que le transfert de vos données aux destinataires dans ces pays est sécurisé soit par la participation sur la base de clauses contractuelles standard adoptées par la Commission Européenne et conformes aux lois de protection des données de l'UE. En utilisant nos Services, vous acceptez un tel transfert et traitement dans les buts énoncés ici.</p>
<p>Votre consentement à cette Politique de Confidentialité suivi de votre soumission de ces informations représente votre accord à ce transfert.</p>
<p>La Société prendra toutes les mesures raisonnablement nécessaires pour assurer que vos données sont traitées de manière sécurisée et conformément à cette Politique de Confidentialité et aucun transfert de Vos Données Personnelles ne se produira vers une organisation ou un pays à moins que des contrôles adéquats ne soient en place, y compris la sécurité de vos données et autres informations personnelles.</p>

<h2 class="subtitle">Sécurité de Vos Données Personnelles</h2>
<p>La sécurité de Vos Données Personnelles est importante pour Nous, mais souvenez-vous qu'aucune méthode de transmission sur Internet, ou méthode de stockage électronique n'est sécurisée à 100 %. Alors que nous nous efforçons d'utiliser des moyens commercialement acceptables pour protéger Vos Données Personnelles, nous ne pouvons pas garantir leur sécurité absolue.</p>
<p>Si nous devons nous appuyer sur le consentement comme base légale pour traiter Votre information et que Votre pays exige le consentement d'un parent, nous pourrions exiger le consentement de votre parent avant de collecter et d'utiliser cette information.</p>

<h2 class="subtitle">Liens vers d'Autres Sites Web</h2>
<p>Notre Service peut contenir des liens vers d'autres sites web qui ne sont pas exploités par Nous. Si vous cliquez sur un lien tiers, vous serez dirigé vers le site de ce tiers. Nous vous conseillons vivement de consulter la Politique de Confidentialité de chaque site que vous visitez.</p>
<p>Nous n'avons aucun contrôle sur le contenu, les politiques de confidentialité ou les pratiques des sites ou services tiers et n'assumons aucune responsabilité à cet égard.</p>

<h2 class="subtitle">Droits de Confidentialité Européens</h2>
<p>Si vous êtes résident de l'Union Européenne, vous bénéficierez de toute disposition obligatoire de la loi du pays. Vous pouvez avoir certains droits supplémentaires concernant vos informations personnelles en vertu du Règlement Général sur la Protection des Données (Règlement (UE) 2016/679) (le « RGPD »). Rien dans cet Accord, y compris le paragraphe ci-dessus, n'affecte vos droits de vous appuyer sur ces dispositions obligatoires de la loi locale.</p>
<p>Vous pouvez nous contacter à {{ support_mail }} pour exercer l'un des droits mentionnés ci-dessus. Nous pouvons demander des informations spécifiques de votre part pour confirmer votre identité et, dans certaines circonstances, nous pouvons facturer des frais raisonnables pour l'accès à vos informations.</p>
<p>Si vous croyez que notre traitement de vos informations est incompatible avec vos droits de protection des données en vertu du RGPD et que nous n'avons pas adéquatement abordé vos préoccupations, vous avez le droit de déposer une plainte auprès de l'autorité de supervision de la protection des données de votre pays.</p>

<h2 class="subtitle">Modifications de cette Politique de Confidentialité</h2>
<p>Nous pouvons mettre à jour notre politique de confidentialité de temps à autre pour fournir correctement nos services ainsi que pour nous conformer aux lois applicables. Des notifications supplémentaires seront affichées ou communiquées autrement à vous. Ainsi, veuillez visiter périodiquement cette page de politique de confidentialité pour vérifier les changements. Si vous n'êtes pas d'accord avec la politique de confidentialité révisée, vous avez le droit et devriez immédiatement cesser d'utiliser Quantz. Si dans un délai raisonnable après les notifications de mise à jour, votre utilisation continue des Services sera considérée comme ayant accepté toutes les modifications apportées.</p>

<h2 class="subtitle">Contactez-Nous</h2>
<p>Si vous avez des questions sur cette Politique de Confidentialité, vous pouvez nous contacter :</p>
<p>Par courriel : {{ mail_support }}</p>

    </div>
</div>

{% include 'common/footer.html' %}
{% endblock %}

{% block foot %}
{% endblock %}
