{% extends "general/base.html" %}

{% block head %}
<link rel="stylesheet" href="/css/main.css">
<script src="/js/simplicity/dist/simplicity.js"></script>
{% endblock %}

{% block content %}
<script>
{
    const lang = "{{ lang }}";
    const langName = "{{ lang_name }}";
}
</script>

{% include 'common/header.html' %}

<div id="privacy" class="privacy">
    <div class="main">

<h1 class="title">隐私政策</h1>
<p class="updated">最后更新：2024年6月3日</p>
<p>欢迎来到Quantz。我们致力于保护和尊重您的隐私。我们非常认真地对待您的隐私，并将在获得您的同意后收集、处理和使用您的个人信息以提供服务。</p>
<p>请仔细阅读此通知以了解我们的做法。如果您不理解我们隐私政策的任何内容，请随时<a href="mailto:{{ support_mail }}">联系我们</a>，或按照本政策末尾的描述操作。请注意，您使用Quantz的行为也受到我们的<a href="/{{ lang }}/terms">服务条款</a>的约束。</p>

<h2 class="subtitle">适用范围；第三方网站</h2>
<p class="thirdparty">本隐私政策仅适用于我们在Quantz上收集的信息。Quantz可能还包含不由我们拥有或控制的第三方网站的链接。请注意，我们不对这些第三方网站的隐私实践负责。当您离开我们的应用程序时，我们鼓励您阅读每个收集个人信息的网站的隐私声明。</p>

<h2 class="subtitle">我们收集的信息</h2>
<h3 class="section-title">1. 个人数据</h3>
<p>在使用我们的服务时，我们可能会要求您提供可以用来联系或识别您的某些个人身份信息。个人身份信息可能包括，但不限于：</p>
<h3 class="section-title">2. 使用数据</h3>
<p>使用数据在使用服务时自动收集。</p>
<p>使用数据可能包括您的设备的互联网协议地址（例如IP地址）、浏览器类型、浏览器版本、您访问的我们服务的页面、您访问的时间和日期、您在这些页面上花费的时间、独特的设备标识符和其他诊断数据。</p>
<p>当您通过移动设备访问服务时，我们可能会自动收集某些信息，包括但不限于您使用的移动设备类型、您的移动设备的独特ID、您的移动设备的IP地址、您的移动操作系统、您使用的移动互联网浏览器类型、独特的设备标识符和其他诊断数据。</p>
<p>每当您访问我们的服务或通过移动设备访问服务时，我们也可能收集您的浏览器发送的信息。</p>

<h2 class="subtitle">我们如何收集信息</h2>
<p>我们使用Cookies和类似的跟踪技术来跟踪我们服务上的活动并存储某些信息。使用的跟踪技术包括信标、标签和脚本来收集和跟踪信息以及改进和分析我们的服务。我们可能使用的技术包括：</p>
<h3 class="section-title">1. Cookies或浏览器Cookies。</h3>
<p>Cookies是放置在您设备上的小文件。您可以指示您的浏览器拒绝所有Cookies或在发送Cookies时指示。然而，如果您不接受Cookies，您可能无法使用我们服务的某些部分。除非您已调整浏览器设置以拒绝Cookies，否则我们的服务可能会使用Cookies。</p>
<h3 class="section-title">2. 网络信标。</h3>
<p>我们服务的某些部分和我们的电子邮件可能包含称为网络信标的小型电子文件（也称为清晰GIF、像素标签和单像素GIF），例如，它们允许公司计算访问那些页面的用户或打开电子邮件的用户，并获取其他相关网站统计信息（例如，记录某个部分的流行度和验证系统及服务器的完整性）。</p>

<h2 class="subtitle">我们如何使用您的信息</h2>
<p>我们可能出于以下目的使用个人数据：</p>
<ul class="section-list">
    <li>提供和维护我们的服务，包括监控我们服务的使用情况。</li>
    <li>管理您的帐户：管理您作为服务用户的注册。您提供的个人数据可以让您访问服务的不同功能，这些功能可作为注册用户使用。</li>
    <li>履行合同的性能：发展、遵守和执行您通过服务购买的产品、物品或服务的购买合同或我们通过服务与您签订的任何其他合同。</li>
    <li>联系您：通过电子邮件或其他等效形式的电子通信（如移动应用程序的推送通知）联系您，关于功能、产品或已签约服务的更新或信息通信，包括必要或合理的安全更新。</li>
    <li>为您提供新闻、特别优惠以及我们提供的其他商品、服务和活动的一般信息，这些都与您已经购买或询问过的商品或服务相似，除非您选择不接收此类信息。</li>
    <li>管理您的请求：参与并管理您对我们的请求。</li>
    <li>业务转让：我们可能使用您的信息来评估或进行合并、剥离、重组、重组、解散或其他一些或全部我们的资产的销售或转让，无论是作为持续经营的一部分还是作为破产、清算或类似程序的一部分。</li>
    <li>其他目的：我们可能将您的信息用于其他目的，如数据分析、识别使用趋势、确定我们的促销活动的有效性以及评估和改善我们的服务、产品、服务、营销和您的体验。</li>
</ul>

<h2 class="subtitle">披露您的信息</h2>
<p>在以下情况下，我们可能会分享您的个人信息：</p>
<ul class="section-list">
    <li>向我们的子公司和关联公司，您的同意在此明确给予。</li>
    <li>向我们用来支持我们业务的承包商、服务提供商和其他第三方，这些第三方受合同义务约束，保持个人信息的机密性，仅用于我们披露给他们的目的。</li>
    <li>在合并、剥离、重组、重组、解散或其他一些或全部我们的资产的销售或转让的事件中，向买方或其他后继者，无论是作为持续经营的一部分还是作为破产、清算或类似程序的一部分。</li>
    <li>履行您提供信息的目的。</li>
    <li>出于我们在您提供信息时披露的任何其他目的。</li>
    <li>在适用法律要求的情况下，经您同意。</li>
    <li>遵守任何法院命令、法律或法律程序，包括响应任何政府或监管请求。</li>
    <li>执行我们与您签订的合同所产生的权利。</li>
    <li>如果我们认为披露是必要的或适当的，以保护我们、我们的客户或他人的权利、财产或安全。</li>
    <li>经您同意：我们可能会在您的同意下出于任何其他目的披露您的个人信息。</li>
</ul>

<h2 class="subtitle">保留您的个人数据</h2>
<p>公司将仅在必要的情况下保留您的个人数据，以满足本隐私政策中列出的目的。我们将保留和使用您的个人数据，以在必要的范围内遵守我们的法律义务（例如，如果我们需要保留您的数据以遵守适用的法律）、解决争议并执行我们的法律协议和政策。</p>
<p>公司还将为内部分析目的保留使用数据。使用数据通常保留较短时间，除非这些数据用于加强安全性或改善我们服务的功能，或者我们有法律义务将这些数据保留更长时间。</p>

<h2 class="subtitle">转移您的个人数据</h2>
<p>Quantz维护在加拿大特别行政区（“HKSAR”），您了解存储在HKSAR的数据可能会受到当地法院或执法机构的合法请求。您通过Quantz提供的任何信息都可能存储、处理、在HKSAR和其他地区或国家之间转移，并从这些地区或国家访问，这些地区或国家可能不保证与您居住的地区或国家同等级别的保护。您在此明确同意并同意您的信息在您居住的地区或国家之外的转移、存储和/或处理。</p>
<p>如果您来自欧盟，您需要知道，这些国家的数据接收者的数据转移是由欧洲委员会采用的标准合同条款保障的，并且符合欧盟数据保护法。通过使用我们的服务，您同意在此处设定的目的内进行此类转移和处理。</p>
<p>您对本隐私政策的同意以及随后提交此类信息代表您同意该转移。</p>
<p>公司将采取一切合理必要的步骤，确保您的数据得到安全处理，并按照本隐私政策处理，除非有适当的控制措施，包括您的数据和其他个人信息的安全，否则不会将您的个人数据转移到任何组织或国家。</p>

<h2 class="subtitle">您的个人数据的安全</h2>
<p>保护您的个人数据的安全对我们至关重要，但请记住，互联网上的传输方式或电子存储方式不是100%安全的。虽然我们努力使用商业上可接受的方式来保护您的个人数据，但我们无法保证其绝对安全。</p>
<p>如果我们需要依赖同意作为处理您信息的法律基础，并且您的国家要求父母的同意，我们可能需要在收集和使用该信息之前获得您父母的同意。</p>

<h2 class="subtitle">其他网站的链接</h2>
<p>我们的服务可能包含不由我们运营的其他网站的链接。如果您点击第三方链接，您将被引导到那个第三方的网站。我们强烈建议您查看您访问的每个网站的隐私政策。</p>
<p>我们无法控制也不承担任何责任

关于任何第三方网站或服务的内容、隐私政策或做法。</p>

<h2 class="subtitle">欧洲隐私权</h2>
<p>如果您是欧盟居民，您将从该国法律的任何强制性规定中受益。您在一般数据保护条例（Regulation (EU) 2016/679）（“GDPR”）下可能对您的个人信息有某些额外的权利。本协议中的任何条款，包括上述段落，均不影响您依赖此类强制性地方法律的权利。</p>
<p>您可以通过{{ support_mail }}与我们联系来行使上述任何权利。我们可能会要求您提供特定信息以确认您的身份，并在某些情况下，我们可能会收取合理的费用以访问您的信息。</p>
<p>如果您认为我们对您的信息的处理与您在GDPR下的数据保护权利不一致，并且我们没有适当地解决您的关切，您有权向您所在国家的数据保护监督机构提出投诉。</p>

<h2 class="subtitle">本隐私政策的更改</h2>
<p>我们可能不时更新我们的隐私政策，以适当地提供我们的服务并遵守适用的法律。更改将通过显示额外通知或以其他方式通知您。因此，请定期访问此隐私政策页面检查任何更改。如果您不同意修订后的隐私政策，您有权立即停止使用Quantz。如果在更新通知后的合理时间内，您继续使用服务，则视为接受所有修改。</p>

<h2 class="subtitle">联系我们</h2>
<p>如果您对本隐私政策有任何疑问，您可以通过以下方式联系我们：</p>
<p>通过电子邮件：{{ mail_support }}</p>

    </div>
</div>

{% include 'common/footer.html' %}
{% endblock %}

{% block foot %}
{% endblock %}
