{% extends "general/base.html" %}

{% block head %}
<link rel="stylesheet" href="/css/main.css">
<script src="/js/simplicity/dist/simplicity.js"></script>
{% endblock %}

{% block content %}
<script>
{
    const lang = "{{ lang }}";
    const langName = "{{ lang_name }}";
}
</script>

{% include 'common/header.html' %}

<div id="privacy" class="privacy">
    <div class="main">

<h1 class="title">Политика конфиденциальности</h1>
<p class="introduction">Последнее обновление: 6 июня 2024 года</p>
<p>Добро пожаловать в Quantz. Мы стремимся защитить и уважать вашу конфиденциальность. Мы серьезно относимся к вашей конфиденциальности и будем собирать, обрабатывать и использовать вашу личную информацию для предоставления услуг только после получения вашего согласия.</p>
<p>Пожалуйста, внимательно прочтите это уведомление, чтобы понять, что мы делаем. Если вы не понимаете какие-либо аспекты нашей Политики конфиденциальности, пожалуйста, не стесняйтесь <a href="mailto:{{ support_mail }}">связаться с нами</a> или как описано в конце этой политики. Обратите внимание, что ваше использование Quantz также подчиняется нашим <a href="/{{ lang }}/terms">Условиям обслуживания</a>.</p>

<h2 class="subtitle">Область применения; Сайты третьих сторон</h2>
<p class="thirdparty">Эта Политика конфиденциальности применяется только к информации, которую мы собираем на сайте и через Quantz. На Quantz также могут быть ссылки на сайты третьих сторон, которые не принадлежат и не контролируются нами. Пожалуйста, имейте в виду, что мы не несем ответственности за практику конфиденциальности таких других сайтов третьих сторон. Мы рекомендуем вам быть внимательными, когда вы покидаете наше приложение, и читать политику конфиденциальности каждого веб-сайта, который собирает личную информацию.</p>

<h2 class="subtitle">Информация, которую мы собираем</h2>
<h3 class="section-title">1. Личные данные</h3>
<p>При использовании нашего сервиса мы можем попросить вас предоставить нам определенную личную информацию, которая может быть использована для связи или идентификации вас. Личная информация может включать, но не ограничивается:</p>
<h3 class="section-title">2. Данные об использовании</h3>
<p>Данные об использовании собираются автоматически при использовании сервиса.</p>
<p>Данные об использовании могут включать информацию, такую как IP-адрес вашего устройства, тип браузера, версия браузера, страницы нашего сервиса, которые вы посещаете, время и дата вашего визита, время, проведенное на этих страницах, уникальные идентификаторы устройств и другие диагностические данные.</p>
<p>Когда вы получаете доступ к сервису через мобильное устройство, мы можем автоматически собирать определенную информацию, включая, но не ограничиваясь, тип мобильного устройства, которое вы используете, уникальный идентификатор вашего мобильного устройства, IP-адрес вашего мобильного устройства, вашу мобильную операционную систему, тип мобильного интернет-браузера, который вы используете, уникальные идентификаторы устройств и другие диагностические данные.</p>
<p>Мы также можем собирать информацию, которую ваш браузер отправляет каждый раз, когда вы посещаете наш сервис или когда вы получаете доступ к сервису через мобильное устройство.</p>

<h2 class="subtitle">Как мы собираем данные</h2>
<p>Мы используем файлы cookie и аналогичные технологии отслеживания для отслеживания активности на нашем сервисе и хранения определенной информации. Используемые технологии отслеживания включают маяки, теги и скрипты для сбора и отслеживания информации, а также для улучшения и анализа нашего сервиса. Технологии, которые мы используем, могут включать:</p>
<h3 class="section-title">1. Файлы cookie или браузерные файлы cookie.</h3>
<p>Файл cookie — это маленький файл, размещенный на вашем устройстве. Вы можете настроить ваш браузер на отказ от всех файлов cookie или на указание, когда файл cookie отправляется. Однако, если вы не принимаете файлы cookie, вы можете не иметь возможности использовать некоторые части нашего сервиса. Если вы не настроили ваш браузер так, чтобы он отказывался от файлов cookie, наш сервис может использовать файлы cookie.</p>
<h3 class="section-title">2. Веб-маяки.</h3>
<p>Некоторые разделы нашего сервиса и наши электронные письма могут содержать маленькие электронные файлы, известные как веб-маяки (также называемые чистыми GIF, пиксельными тегами и однопиксельными GIF), которые позволяют компании, например, считать пользователей, которые посетили эти страницы или открыли электронное письмо, и для других связанных статистических данных веб-сайта (например, записывать популярность определенного раздела и проверять целостность системы и сервера).</p>

<h2 class="subtitle">Как мы используем вашу информацию</h2>
<p>Мы можем использовать личные данные для следующих целей:</p>
<ul class="section-list">
    <li>Для предоставления и поддержания нашего сервиса, включая мониторинг использования нашего сервиса.</li>
    <li>Для управления вашим аккаунтом: для управления вашей регистрацией как пользователя сервиса. Личные данные, которые вы предоставляете, могут дать вам доступ к различным функциональным возможностям сервиса, которые доступны вам как зарегистрированному пользователю.</li>
    <li>Для исполнения контракта: разработка, соблюдение и выполнение контракта на покупку продуктов, товаров или услуг, которые вы приобрели, или любого другого контракта с нами через сервис.</li>
    <li>Для связи с вами: для связи с вами по электронной почте или другим эквивалентным способом электронной коммуникации, например, через уведомления push мобильного приложения о обновлениях или информационных сообщениях, связанных с функциональными возможностями, продуктами или законтрактованными услугами, включая обновления безопасности, когда это необходимо или разумно для их реализации.</li>
    <li>Чтобы предоставить вам новости, специальные предложения и общую информацию о других товарах, услугах и мероприятиях, которые мы предлагаем, похожих на те, которые вы уже покупали или о которых вы спрашивали, если вы не отказались от получения такой информации.</li>
    <li>Для управления вашими запросами: для обработки и управления вашими запросами к нам.</li>
    <li>Для бизнес-передач: мы можем использовать вашу информацию для оценки или проведения слияния, продажи активов, реструктуризации, реорганизации, роспуска или другой продажи или передачи некоторой части или всех наших активов, будь то как действующее предприятие или как часть банкротства, ликвидации или подобной процедуры, в которой личные данные, которыми мы располагаем о пользователях нашего сервиса, являются среди передаваемых активов.</li>
    <li>Для других целей: мы можем использовать вашу информацию для других целей, таких как анализ данных, определение тенденций использования, определение эффективности наших рекламных кампаний и для оценки и улучшения нашего сервиса, продуктов, услуг, маркетинга и вашего опыта.</li>
</ul>

<h2 class="subtitle">Раскрытие вашей информации</h2>
<p>Мы можем делиться вашей личной информацией в следующих ситуациях:</p>
<ul class="section-list">
    <li>Нашим дочерним и аффилированным компаниям, где ваше согласие явно дано.</li>
    <li>Подрядчикам, поставщикам услуг и другим третьим сторонам, которые мы используем для поддержки нашего бизнеса и которые обязаны по контракту сохранять конфиденциальность личной информации и использовать ее только для целей, для которых мы ее раскрываем.</li>
    <li>Покупателю или другому преемнику в случае слияния, продажи активов, реструктуризации, реорганизации, роспуска или другой продажи или передачи некоторой части или всех наших активов, будь то как действующее предприятие или как часть банкротства, ликвидации или подобной процедуры, в которой личная информация, которой мы располагаем о пользователях нашего приложения, является среди передаваемых активов.</li>
    <li>Для выполнения цели, для которой вы предоставили ее.</li>
    <li>Для любой другой цели, раскрытой нами, когда вы предоставляете информацию.</li>
    <li>С вашего согласия в случаях, когда это требуют применимые законы.</li>
    <li>Для соблюдения любого судебного приказа, закона или юридического процесса, включая ответ на любой запрос правительства или регулирующего органа.</li>
    <li>Для защиты наших прав, вытекающих из любых договоров, заключенных между вами и нами.</li>
    <li>Если мы считаем, что раскрытие необходимо или уместно для защиты прав, собственности или безопасности нас, наших клиентов или других.</li>
    <li>С вашего согласия: мы можем раскрывать вашу личную информацию для любых других целей с вашего согласия.</li>
</ul>

<h2 class="subtitle">Сохранение вашей личной информации</h2>
<p>Компания будет сохранять вашу личную информацию только столько, сколько это необходимо для целей, изложенных в этой Политике конфиденциальности. Мы будем сохранять и использовать вашу личную информацию в той мере, в какой это необходимо для соблюдения наших юридических обязательств (например, если мы обязаны сохранять ваши данные для соблюдения применимых законов), разрешения споров и применения наших юридических соглашений и политик.</p>
<p>Компания также будет сохранять данные об использовании для внутренних аналитических целей. Данные об использовании обычно сохраняются в течение более короткого периода времени, за исключением случаев, когда эти данные используются для укрепления безопасности или для улучшения функциональности нашего сервиса, или когда мы юридически обязаны сохранять эти данные на более длительные сроки.</p>

<h2 class="subtitle">Передача вашей личной информации</h2>
<p>Quantz поддерживается в Специальном административном регионе Канады («HKSAR»), и вы понимаете, что данные, хранящиеся в HKSAR, могут подпадать под законные запросы местных судов или правоохранительных органов. Любая информация, которую вы предоставляете через Quantz, может храниться, обрабатываться, передаваться между и быть доступной из HKSAR и других районов или стран, которые могут не гарантировать тот же уровень защиты, что и тот, в котором вы проживаете. Вы явно соглашаетесь и соглашаетесь на такую передачу, хранение и/или обработку вашей информации за пределами района или страны, в которой вы проживаете.</p>
<p>Если вы из ЕС, важно знать, что передача ваших данных получателям в этих странах обеспечивается либо участием на основе стандартных договорных положений, принятых Европейской комиссией и соответствующих законам о защите данных ЕС. Используя наши услуги, вы соглашаетесь на такую передачу и обработку в рамках здесь изложенных целей.</p>
<p>Ваше согласие с этой Политикой конфиденциальности, за которым следует ваше представление такой информации, представляет собой ваше согласие на эту передачу.</p>
<p>Компания предпримет все разумно необходимые шаги, чтобы обеспечить, чтобы ваши данные обрабатывались безопасно и в соответствии с этой Политикой конфиденциальности, и никакая передача вашей личной информации не будет происходить в организацию или страну, если не будут на месте адекватные контроли за безопасностью ваших данных и другой личной информации.</p>

<h2 class="subtitle">Безопасность вашей личной информации</h2>
<p>Безопасность вашей личной информации важна для нас, но помните, что ни один метод передачи через интернет, ни метод электронного хранения не является на 100% безопасным. Хотя мы стремимся использовать коммерчески приемлемые средства для защиты вашей личной информации, мы не можем гарантировать ее абсолютную безопасность.</p>
<p>Если нам нужно полагаться на согласие в качестве правового основания для обработки вашей информации и ваша страна требует согласия родителя, мы можем потребовать согласия вашего родителя, прежде чем мы соберем и используем эту информацию.</p>

<h2 class="subtitle">Ссылки на другие сайты</h2>
<p>Наш сервис может содержать ссылки на другие веб-сайты, которые не управляются нами. Если вы щелкнете по ссылке третьей стороны, вы будете направлены на сайт этой третьей стороны. Мы настоятельно рекомендуем вам просмотреть Политику конфиденциальности каждого сайта, который вы посещаете.</p>
<p>Мы не контролируем и не несем ответственности за содержание, политику конфиденциальности или практики любых сайтов или услуг третьих сторон.</p>

<h2 class="subtitle">Европейские права на конфиденциальность</h2>
<p>Если вы являетесь резидентом Европейского Союза, вы будете пользоваться любыми обязательными положениями законодательства страны. У вас могут быть определенные дополнительные права в отношении вашей личной информации в соответствии с Общим регламентом по защите данных (Регламент (ЕС) 2016/679) («GDPR»). Ничто в этом Соглашении, включая приведенный выше абзац, не влияет на ваше право полагаться на такие обязательные положения местного законодательства.</p>
<p>Вы можете связаться с нами по адресу {{ support_mail }}, чтобы воспользоваться любым из вышеуказанных прав. Мы можем запросить у вас конкретную информацию для подтверждения вашей личности, и в некоторых случаях мы можем взимать разумную плату за доступ к вашей информации.</p>
<p>Если вы считаете, что наша обработка вашей информации не соответствует вашим правам на защиту данных в соответствии с GDPR и мы не устранили ваши опасения, у вас есть право подать жалобу в надзорный орган по защите данных вашей страны.</p>

<h2 class="subtitle">Изменения в этой Политике конфиденциальности</h2>
<p>Мы можем время от времени обновлять нашу политику конфиденциальности, чтобы надлежащим образом предоставлять наши услуги, а также для соблюдения применимого законодательства. Дополнительные уведомления будут отображаться или иным образом сообщаться вам. Поэтому, пожалуйста, периодически посещайте эту страницу политики конфиденциальности, чтобы проверять наличие изменений. Если вы не согласны с пересмотренной политикой конфиденциальности, у вас есть право и вы должны немедленно прекратить использование Quantz. Если в разумные сроки после уведомления об обновлении вы продолжите использовать услуги, это будет считаться как принятие всех внесенных изменений.</p>

<h2 class="subtitle">Свяжитесь с нами</h2>
<p>Если у вас есть вопросы о этой Политике конфиденциальности, вы можете связаться с нами:</p>
<p>По электронной почте: {{ mail_support }}</p>

    </div>
</div>

{% include 'common/footer.html' %}
{% endblock %}

{% block foot %}
{% endblock %}
