{% extends "general/base.html" %}

{% block head %}
<link rel="stylesheet" href="/css/main.css">
<script src="/js/simplicity/dist/simplicity.js"></script>
{% endblock %}

{% block content %}
<script>
{
    const lang = "{{ lang }}"
    const langName = "{{ lang_name }}"
}
</script>


{% include 'common/header.html' %}

<div id="privacy" class="privacy">
    <div class="main">

<h1 class="title">سياسة الخصوصية</h1>
<p class="introduction">آخر تحديث: 6 يونيو 2024</p>
<p>مرحبًا بكم في Quantz. نحن ملتزمون بحماية خصوصيتك واحترامها. نأخذ خصوصيتك على محمل الجد وسنجمع ونعالج ونستخدم معلوماتك الشخصية لتقديم الخدمات فقط بعد الحصول على موافقتك.</p>
<p>يرجى قراءة هذا الإشعار بعناية لفهم ما نقوم به. إذا كنت لا تفهم أي جوانب من سياسة الخصوصية الخاصة بنا، فلا تتردد في <a href="mailto:{{ support_mail }}">الاتصال بنا</a> أو كما هو موضح في نهاية هذه السياسة. يرجى ملاحظة أن استخدامك لـ Quantz يخضع أيضًا لـ <a href="/{{ lang }}/terms">شروط الخدمة</a>.</p>

<h2 class="subtitle">النطاق؛ المواقع الطرف الثالث</h2>
<p class="thirdparty">تنطبق سياسة الخصوصية هذه على المعلومات التي نجمعها فقط في ومن خلال Quantz. قد يحتوي Quantz أيضًا على روابط إلى مواقع طرف ثالث لا نملكها أو نتحكم فيها. يرجى العلم بأننا لسنا مسؤولين عن ممارسات الخصوصية لمثل هذه المواقع الطرف الثالث الأخرى. نشجعك على الانتباه عند مغادرة تطبيقنا وقراءة بيانات الخصوصية لكل موقع ويب يجمع المعلومات الشخصية.</p>

<h2 class="subtitle">المعلومات التي نجمعها</h2>
<h3 class="section-title">1. البيانات الشخصية</h3>
<p>أثناء استخدام خدمتنا، قد نطلب منك تزويدنا ببعض المعلومات الشخصية التي يمكن استخدامها للاتصال بك أو تحديد هويتك. قد تشمل المعلومات الشخصية، على سبيل المثال لا الحصر:</p>
<h3 class="section-title">2. بيانات الاستخدام</h3>
<p>تتم جمع بيانات الاستخدام تلقائيًا عند استخدام الخدمة.</p>
<p>قد تشمل بيانات الاستخدام معلومات مثل عنوان بروتوكول الإنترنت لجهازك (على سبيل المثال، عنوان IP)، نوع المتصفح، إصدار المتصفح، صفحات خدمتنا التي تزورها، وقت وتاريخ زيارتك، الوقت الذي تقضيه في تلك الصفحات، معرّفات الأجهزة الفريدة وغيرها من البيانات التشخيصية.</p>
<p>عندما تصل إلى الخدمة بواسطة أو من خلال جهاز محمول، قد نجمع بعض المعلومات تلقائيًا، بما في ذلك، ولكن لا يقتصر على، نوع الجهاز المحمول الذي تستخدمه، معرّف الجهاز المحمول الفريد الخاص بك، عنوان IP لجهازك المحمول، نظام التشغيل المحمول الخاص بك، نوع متصفح الإنترنت المحمول الذي تستخدمه، معرّفات الأجهزة الفريدة وغيرها من البيانات التشخيصية.</p>
<p>قد نجمع أيضًا معلومات يرسلها متصفحك في كل مرة تزور فيها خدمتنا أو عندما تصل إلى الخدمة بواسطة أو من خلال جهاز محمول.</p>

<h2 class="subtitle">كيف نجمع المعلومات</h2>
<p>نستخدم ملفات تعريف الارتباط وتقنيات التتبع المماثلة لتتبع النشاط على خدمتنا وتخزين بعض المعلومات. تتضمن تقنيات التتبع المستخدمة الشعاعات والعلامات والبرامج النصية لجمع المعلومات وتتبعها ولتحسين وتحليل خدمتنا. تشمل التقنيات التي نستخدمها:</p>
<h3 class="section-title">1. ملفات تعريف الارتباط أو ملفات تعريف الارتباط للمتصفح.</h3>
<p>ملف تعريف الارتباط هو ملف صغير يوضع على جهازك. يمكنك تعليم متصفحك لرفض جميع ملفات تعريف الارتباط أو للإشارة عند إرسال ملف تعريف ارتباط. ومع ذلك، إذا لم تقبل ملفات تعريف الارتباط، قد لا تتمكن من استخدام بعض أجزاء خدمتنا. ما لم تكن قد ضبطت إعداد متصفحك بحيث يرفض ملفات تعريف الارتباط، قد تستخدم خدمتنا ملفات تعريف الارتباط.</p>
<h3 class="section-title">2. الشعاعات الإلكترونية.</h3>
<p>قد تحتوي بعض أقسام خدمتنا ورسائل البريد الإلكتروني لدينا على ملفات إلكترونية صغيرة تُعرف باسم الشعاعات الإلكترونية (المعروفة أيضًا باسم الصور النقية، علامات البكسل، وصور البكسل المفرد) التي تتيح للشركة، على سبيل المثال، عد المستخدمين الذين زاروا تلك الصفحات أو فتحوا بريدًا إلكترونيًا ولغيرها من الإحصاءات ذات الصلة بمواقع الويب (على سبيل المثال، تسجيل شعبية قسم معين والتحقق من سلامة النظام والخادم).</p>

<h2 class="subtitle">كيف نستخدم معلوماتك</h2>
<p>قد نستخدم البيانات الشخصية للأغراض التالية:</p>
<ul class="section-list">
    <li>لتوفير وصيانة خدمتنا، بما في ذلك لمراقبة استخدام خدمتنا.</li>
    <li>لإدارة حسابك: لإدارة تسجيلك كمستخدم للخدمة. يمكن أن تمنحك البيانات الشخصية التي تقدمها الوصول إلى وظائف مختلفة من الخدمة المتاحة لك كمستخدم مسجل.</li>
    <li>لأداء العقد: تطوير والامتثال والقيام بعقد الشراء للمنتجات أو العناصر أو الخدمات التي اشتريتها أو أي عقد آخر معنا من خلال الخدمة.</li>
    <li>للاتصال بك: للاتصال بك عبر البريد الإلكتروني أو وسائل الاتصال الإلكترونية الأخرى المعادلة، مثل إشعارات الدفع عبر تطبيق الجوال بخصوص التحديثات أو الاتصالات الإعلامية المتعلقة بالوظائف أو المنتجات أو الخدمات المتعاقد عليها، بما في ذلك التحديثات الأمنية، عند الضرورة أو اللزوم لتنفيذها.</li>
    <li>لتزويدك بالأخبار والعروض الخاصة والمعلومات العامة عن السلع والخدمات والأحداث الأخرى التي نقدمها والتي تشبه تلك التي اشتريتها بالفعل أو استفسرت عنها ما لم تكن قد اخترت عدم استلام هذه المعلومات.</li>
    <li>لإدارة طلباتك: لحضور وإدارة طلباتك لنا.</li>
    <li>لنقل الأعمال التجارية: قد نستخدم معلوماتك لتقييم أو إجراء عملية اندماج أو تصفية أو إعادة هيكلة أو إعادة تنظيم أو حل أو بيع آخر أو نقل بعض أو كل أصولنا، سواء كجزء من النشاط التجاري الجاري أو كجزء من إفلاس أو تصفية أو إجراء مماثل، حيث تكون البيانات الشخصية التي نحتفظ بها حول مستخدمي خدمتنا من بين الأصول المنقولة.</li>
    <li>لأغراض أخرى: قد نستخدم معلوماتك لأغراض أخرى، مثل تحليل البيانات، وتحديد اتجاهات الاستخدام، وتحديد فعالية حملاتنا الترويجية، وتقييم وتحسين خدمتنا ومنتجاتنا وخدماتنا وتسويقنا وتجربتك.</li>
</ul>

<h2 class="subtitle">الكشف عن معلوماتك</h2>
<p>قد نشارك معلوماتك الشخصية في المواقف التالية:</p>
<ul class="section-list">
    <li>لشركاتنا الفرعية والتابعة، حيث يُعطى موافقتك بشكل صريح.</li>
    <li>للمقاولين ومقدمي الخدمات وأطراف ثالثة أخرى نستخدمها لدعم أعمالنا والذين ملزمون بالتزامات تعاقدية للحفاظ على سرية المعلومات الشخصية واستخدامها فقط للأغراض التي نكشف عنها لهم.</li>
    <li>للمشتري أو الخلف الآخر في حالة اندماج أو تصفية أو إعادة هيكلة أو إعادة تنظيم أو حل أو بيع آخر أو نقل بعض أو كل أصولنا، سواء كجزء من النشاط التجاري الجاري أو كجزء من إفلاس أو تصفية أو إجراء مماثل، حيث تكون المعلومات الشخصية التي نحتفظ بها حول مستخدمي تطبيقنا من بين الأصول المنقولة.</li>
    <li>لتحقيق الغرض الذي قدمته له.</li>
    <li>لأي غرض آخر تم الكشف عنه من قبلنا عند تقديم المعلومات.</li>
    <li>بموافقتك حيث تتطلب القوانين المعمول بها ذلك.</li>
    <li>للامتثال لأي أمر قضائي أو قانون أو عملية قانونية، بما في ذلك الاستجابة لأي طلب حكومي أو تنظيمي.</li>
    <li>لتطبيق حقوقنا الناشئة عن أي عقود مبرمة بينك وبيننا.</li>
    <li>إذا كنا نعتقد أن الكشف ضروري أو مناسب لحماية حقوقنا، ممتلكاتنا، أو سلامة نحن، عملائنا أو آخرين.</li>
    <li>بموافقتك: قد نكشف عن معلوماتك الشخصية لأي غرض آخر بموافقتك.</li>
</ul>

<h2 class="subtitle">الاحتفاظ ببياناتك الشخصية</h2>
<p>ستحتفظ الشركة ببياناتك الشخصية فقط للمدة اللازمة للأغراض المحددة في هذه السياسة الخصوصية. سنحتفظ ونستخدم بياناتك الشخصية بالقدر الضروري للوفاء بالتزاماتنا القانونية (على سبيل المثال، إذا كنا مطالبين بالاحتفاظ ببياناتك للامتثال للقوانين المعمول بها)، لحل النزاعات، ولتطبيق اتفاقياتنا القانونية وسياساتنا.</p>
<p>ستحتفظ الشركة أيضًا ببيانات الاستخدام لأغراض التحليل الداخلي. بيانات الاستخدام عادة ما تُحتفظ لفترة زمنية أقصر، إلا عندما تُستخدم هذه البيانات لتعزيز الأمان أو لتحسين وظائف خدمتنا، أو عندما نكون ملزمين قانونيًا بالاحتفاظ بهذه البيانات لفترات زمنية أطول.</p>

<h2 class="subtitle">نقل بياناتك الشخصية</h2>
<p>يتم الحفاظ على Quantz في المنطقة الإدارية الخاصة بكندا (HKSAR)، وأنت تفهم أن البيانات المخزنة في HKSAR قد تخضع لطلبات قانونية من المحاكم المحلية أو السلطات القضائية. قد يتم تخزين أي معلومات تقدمها عبر Quantz ومعالجتها ونقلها بينها والوصول إليها من HKSAR ومناطق أو دول أخرى، والتي قد لا تضمن نفس مستوى الحماية الذي تعيش فيه. أنت بذلك توافق صراحةً وتوافق على مثل هذا النقل والتخزين و/أو المعالجة لمعلوماتك خارج المنطقة أو البلد الذي تقيم فيه.</p>
<p>إذا كنت من الاتحاد الأوروبي، من المهم أن تعرف أن نقل بياناتك إلى المستلمين في هذه البلدان مؤمّن إما بموجب بنود تعاقدية قياسية اعتمدتها المفوضية الأوروبية ومتوافقة مع قوانين حماية البيانات الأوروبية. باستخدام خدماتنا، فإنك توافق على مثل هذا النقل والمعالجة ضمن الأغراض المحددة هنا.</p>
<p>موافقتك على هذه السياسة الخصوصية تليها تقديمك لهذه المعلومات تمثل موافقتك على هذا النقل.</p>
<p>ستتخذ الشركة جميع الخطوات المعقولة اللازمة لضمان معالجة بياناتك بأمان ووفقًا لهذه السياسة الخصوصية ولن يتم نقل بياناتك الشخصية إلى منظمة أو بلد ما لم تكن هناك ضوابط كافية في المكان بما في ذلك أمان بياناتك ومعلوماتك الشخصية الأخرى.</p>

<h2 class="subtitle">أمان بياناتك الشخصية</h2>
<p>أمان بياناتك الشخصية مهم بالنسبة لنا، لكن تذكر أنه لا توجد طريقة للنقل عبر الإنترنت، أو طريقة للتخزين الإلكتروني، هي آمنة 100%. بينما نسعى جاهدين لاستخدام وسائل مقبولة تجاريًا لحماية بياناتك الشخصية، لا يمكننا ضمان أمانها المطلق.</p>
<p>إذا كنا بحاجة إلى الاعتماد على الموافقة كأساس قانوني لمعالجة معلوماتك وتتطلب دولتك موافقة من الوالد، فقد نتطلب موافقة والدك قبل أن نجمع ونستخدم تلك المعلومات.</p>

<h2 class="subtitle">روابط لمواقع أخرى</h2>
<p>قد تحتوي خدمتنا على روابط لمواقع أخرى لا تديرها نحن. إذا نقرت على رابط طرف ثالث، سيتم توجيهك إلى موقع الطرف الثالث هذا. ننصحك بشدة بمراجعة سياسة الخصوصية لكل موقع تزوره.</p>
<p>ليس لدينا أي سيطرة على ولا نتحمل أي مسؤولية عن المحتوى، سياسات الخصوصية، أو ممارسات أي مواقع أو خدمات لطرف ثالث.</p>

<h2 class="subtitle">حقوق الخصوصية الأوروبية</h2>
<p>إذا كنت مقيمًا في الاتحاد الأوروبي، ستستفيد من أي أحكام إلزامية لقانون البلد. قد تكون لديك حقوق إضافية معينة بخصوص معلوماتك الشخصية بموجب اللائحة العامة لحماية البيانات (اللائحة (EU) 2016/679) (GDPR). لا شيء في هذه الاتفاقية، بما في ذلك الفقرة أعلاه، يؤثر على حقوقك في الاعتماد على مثل هذه الأحكام الإلزامية للقانون المحلي.</p>
<p>يمكنك الاتصال بنا على {{ support_mail }} لممارسة أي من الحقوق المذكورة أعلاه. قد نطلب منك تقديم معلومات محددة لتأكيد هويتك، وفي بعض الظروف، قد نفرض رسومًا معقولة مقابل الوصول إلى معلوماتك.</p>
<p>إذا كنت تعتقد أن معالجتنا لمعلوماتك لا تتسق مع حقوقك في حماية البيانات بموجب GDPR ولم نعالج مخاوفك بشكل كافٍ، فلديك الحق في تقديم شكوى إلى السلطة الإشرافية لحماية البيانات في بلدك.</p>

<h2 class="subtitle">التغييرات على سياسة الخصوصية هذه</h2>
<p>قد نقوم بتحديث سياسة الخصوصية الخاصة بنا من وقت لآخر لتوفير خدماتنا بشكل مناسب وللامتثال للقوانين المعمول بها. ستعرض الإشعارات الإضافية أو تُعلم لك بطريقة أخرى. لذلك، يرجى زيارة صفحة سياسة الخصوصية هذه بشكل دوري للتحقق من أي تغييرات. إذا كنت لا توافق على سياسة الخصوصية المعدلة، لديك الحق ويجب أن تتوقف فورًا عن استخدام Quantz. إذا واصلت استخدام الخدمات بعد فترة زمنية معقولة من الإشعار بالتحديث، فسيُعتبر ذلك كموافقة منك على جميع التعديلات التي تم إجراؤها.</p>

<h2 class="subtitle">اتصل بنا</h2>
<p>إذا كانت لديك أي أسئلة حول سياسة الخصوصية هذه، يمكنك الاتصال بنا:</p>
<p>عبر البريد الإلكتروني: {{ mail_support }}</p>

    </div>
</div>

{% include 'common/footer.html' %}
{% endblock %}

{% block foot %}
{% endblock %}
