{% extends "general/base.html" %}

{% block head %}
<link rel="stylesheet" href="/css/main.css">
<script src="/js/simplicity/dist/simplicity.js"></script>
{% endblock %}

{% block content %}
<script>
{
    const lang = "{{ lang }}";
    const langName = "{{ lang_name }}";
}
</script>

{% include 'common/header.html' %}

<div id="privacy" class="privacy">
    <div class="main">

<h1 class="title">プライバシーポリシー</h1>
<p class="updated">最終更新日: 2024年6月3日</p>
<p>Quantzへようこそ。私たちはあなたのプライバシーを保護し、尊重することにコミットしています。私たちはあなたのプライバシーを真剣に受け止め、あなたの同意を得た上でのみ、あなたの個人情報を収集、処理、使用してサービスを提供します。</p>
<p>この通知を注意深くお読みください。当社のプライバシーポリシーのいずれかの点が理解できない場合は、お気軽に<a href="mailto:{{ support_mail }}">お問い合わせ</a>ください。また、Quantzの利用は、<a href="/{{ lang }}/terms">利用規約</a>にも従うものとします。</p>

<h2 class="subtitle">適用範囲；第三者サイト</h2>
<p class="thirdparty">このプライバシーポリシーは、Quantzで収集される情報にのみ適用されます。Quantzには、当社が所有または管理していない第三者サイトへのリンクも含まれていることがあります。私たちは、そのような第三者サイトのプライバシー慣行には責任を負いません。私たちのアプリを離れるときは、個人情報を収集するすべてのウェブサイトのプライバシーステートメントを読むことをお勧めします。</p>

<h2 class="subtitle">私たちが収集する情報</h2>
<h3 class="section-title">1. 個人データ</h3>
<p>サービスを利用する際、特定の個人を特定または連絡するのに使用できる情報を提供していただくことがあります。個人を特定する情報には、以下が含まれることがありますが、これに限定されません：</p>
<h3 class="section-title">2. 利用データ</h3>
<p>利用データは、サービスを使用する際に自動的に収集されます。</p>
<p>利用データには、お使いのデバイスのインターネットプロトコルアドレス（例: IPアドレス）、ブラウザの種類、ブラウザのバージョン、サービスの訪問ページ、訪問日時、それらのページでの滞在時間、ユニークなデバイス識別子およびその他の診断データが含まれることがあります。</p>
<p>モバイルデバイスを通じてサービスにアクセスする場合、自動的に特定の情報が収集されることがあります。これには、使用するモバイルデバイスの種類、モバイルデバイスのユニークID、モバイルデバイスのIPアドレス、モバイルオペレーティングシステム、使用するモバイルインターネットブラウザの種類、ユニークなデバイス識別子およびその他の診断データが含まれることがあります。</p>
<p>サービスを訪れる際やモバイルデバイスを通じてサービスにアクセスする際に、ブラウザが送信する情報も収集することがあります。</p>

<h2 class="subtitle">情報の収集方法</h2>
<p>当社は、クッキーや類似の追跡技術を使用して、サービス上の活動を追跡し、特定の情報を保存します。情報収集と追跡にはビーコン、タグ、スクリプトが使用され、サービスの改善と分析に役立てられます。当社が使用する技術には以下が含まれることがあります：</p>
<h3 class="section-title">1. クッキーまたはブラウザクッキー。</h3>
<p>クッキーは、お使いのデバイスに配置される小さなファイルです。ブラウザですべてのクッキーを拒否する設定を行うことも、クッキーが送信されるときに指示する設定を行うこともできます。しかし、クッキーを受け入れない場合、サービスの一部を利用できないことがあります。ブラウザの設定を変更してクッキーを拒否しない限り、当社のサービスはクッキーを使用することがあります。</p>
<h3 class="section-title">2. Webビーコン。</h3>
<p>当社のサービスの特定のセクションやメールには、例えばページ訪問者数を数えるためや、システムおよびサーバーの完全性を確認するためなど、Webビーコン（クリアGIF、ピクセルタグ、シングルピクセルGIFとも呼ばれる小さな電子ファイル）が含まれることがあります。</p>

<h2 class="subtitle">情報の使用方法</h2>
<p>私たちは、以下の目的のために個人データを使用することがあります：</p>
<ul class="section-list">
    <li>サービスの提供と維持のため、およびサービスの利用状況の監視。</li>
    <li>あなたのアカウントの管理: サービスのユーザーとしてのあなたの登録を管理します。あなたが提供する個人データは、登録ユーザーとして利用可能なサービスの異なる機能へのアクセスを可能にします。</li>
    <li>契約の履行のため: サービスを通じて私たちとの間で購入した商品、アイテム、またはサービスの購入契約、またはその他の契約の開発、遵守、および履行。</li>
    <li>あなたに連絡するため: メールやモバイルアプリのプッシュ通知などの電子通信手段により、機能、製品、契約サービスに関連する更新や情報通信（セキュリティ更新を含む）についてあなたに連絡します。</li>
    <li>あなたにニュース、特別オファー、および私たちが提供する他の商品、サービス、イベントの一般情報を提供するため、これらはあなたがすでに購入または問い合わせたものに類似しています（あなたがこれらの情報を受け取ることを希望しない場合を除く）。</li>
    <li>あなたのリクエストを管理するため: あなたのリクエストに対応し、それらを管理します。</li>
    <li>ビジネス譲渡のため: 企業の合併、売却、再編、解散、またはその他の資産の一部または全部の売却または移転の評価または実施のためにあなたの情報を使用することがあります。</li>
    <li>その他の目的のために: データ分析、利用傾向の特定、プロモーションキャンペーンの効果の決定、および私たちのサービス、製品、サービス、マーケティング、あなたの体験の評価および改善のためにあなたの情報を使用することがあります。</li>
</ul>

<h2 class="subtitle">あなたの情報の開示</h2>
<p>次の状況であなたの個人情報を共有することがあります：</p>
<ul class="section-list">
    <li>あなたの同意を明示的に得た場合、私たちの子会社や関連会社に。</li>
    <li>当社のビジネスをサポートするために使用する契約業者、サービスプロバイダー、その他の第三者に、これらの第三者は個人情報を機密に扱い、私たちがそれらに開示する目的でのみ使用することに契約により拘束されています。</li>
    <li>合併、売却、再編、解散、またはその他の私たちの資産の一部または全部の売却または移転の際の買い手またはその他の後継者に。</li>
    <li>あなたが提供する目的を達成するために。</li>
    <li>私たちが情報を提供するときに開示された他の目的のために。</li>
    <li>適用される法律が要求する場合、あなたの同意を得て。</li>
    <li>裁判所の命令、法律、または法的手続きに従うため、または政府または規制当局の要求に応じるために。</li>
    <li>あなたと私たちとの間で締結された契約から生じる私たちの権利を行使するために。</li>
    <li>私たち、私たちの顧客、または他の人々の権利、財産、または安全を保護するために必要または適切と信じる場合。</li>
    <li>あなたの同意がある場合: あなたの同意を得て、あなたの個人情報をその他の目的で開示することがあります。</li>
</ul>

<h2 class="subtitle">あなたの個人データの保持</h2>
<p>当社は、このプライバシーポリシーで定める目的のために必要な期間だけあなたの個人データを保持します。私たちは、法的義務を遵守するため（たとえば、適用される法律によりデータの保持が要求される場合）、紛争を解決し、私たちの法的合意およびポリシーを実施するのに必要な範囲であなたの個人データを保持し、使用します。</p>
<p>当社はまた、内部分析の目的のために利用データを保持します。利用データは一般的に短期間保持されますが、このデータがセキュリティを強化するため、または私たちのサービスの機能を改善するために使用される場合、または法的義務によりこのデータをより長い期間保持することが義務付けられている場合は、例外として長期間保持することがあります。</p>

<h2 class="subtitle">あなたの個人データの転送</h2>
<p>Quantzはカナダ特別行政区（「HKSAR」）で維持されており、HKSARに保存されたデータは地元の裁判所または法執行機関による合法的な要求の対象となる可能性があります。Quantzを通じて提供された情報は、HKSARおよび他の地区または国々に保存、処理、転送され、アクセスされることがありますが、これらの地区または国々はあなたが居住する地区や国と同じレベルの保護を保証しない場合があります。あなたはここに明示的に同意し、あなたが居住する地区や国の外での情報の転送、保存、および/または処理に同意します。</p>
<p>EUからの方は、これらの国へのデータ転送が、欧州委員会によって採用された標準契約条項に基づいて保護されていることを知ることが重要です。これらはEUデータ保護法に準拠しています。私たちのサービスを使用することにより、ここに定める目的のためにそのような転送および処理に同意します。</p>
<p>このプライバシーポリシーに対するあなたの同意と、そのような情報の提出は、その転送に対するあなたの同意を表します。</p>
<p>当社は、あなたのデータが安全に取り扱われ、このプライバシーポリシーに従って処理されるように必要なすべての措置を講じます。適切な管理が整っている組織や国にあなたの個人データの転送は行われません。</p>

<h2 class="subtitle">あなたの個人データのセキュリティ</h2>
<p>あなたの個人データのセキュリティは私たちにとって重要ですが、インターネット上の送信方法や電子的な保存方法は100％安全ではありません。商業的に受け入れられる方法を使用してあなたの個人データを保護するよう努力していますが、その絶対的なセキュリティを保証することはできません。</p>
<p>私たちがあなたの情報の処理に同意を法的根拠として依存する必要があり、あなたの国が親の同意を要求する場合、私たちはその情報を収集して使用する前にあなたの親の同意を要求することがあります。</p>

<h2 class="subtitle">他のウェブサイトへのリンク</h2>
<p>当社のサービスには、私たちが運営していない他のウェブサイトへのリンクが含まれていることがあります。第三者のリンクをクリックすると、その第三者のサイトに移動します。訪問するすべてのサイトのプライバシーポリシーを確認することを強くお勧めします。</p>
<p>私たちは、コンテンツ、プライバシーポリシー、または第三者サイトまたはサービスの慣行を管理することはできませんし、その責任も負いません。</p>

<h2 class="subtitle">ヨーロッパのプライバシー権利</h2>
<p>あなたが欧州連合の居住者である場合、その国の法律の義務的な規定から恩恵を受けることになります。一般データ保護規則（Regulation (EU) 2016/679）（「GDPR」と呼ばれます）のもとで、あなたの個人情報に関して特定の追加の権利を持つことがあります。この契約のいずれの条項も、そのような義務的な地元法に依存するあなたの権利を影響するものではありません。</p>
<p>{{ support_mail }}までお問い合わせいただくことで、上記の権利を行使することができます。あなたの身元を確認するために具体的な情報を要求することがあります。また、状況によっては、あなたの情報へのアクセスに対して適切な手数料を請求することがあります。</p>
<p>もし私たちの情報処理があなたのデータ保護権に反していると信じ、私たちがあなたの懸念を適切に対処していないと考える場合、あなたはあなたの国のデータ保護監督当局に苦情を申し立てる権利があります。</p>

<h2 class="subtitle">このプライバシーポリシーの変更</h2>
<p>私たちは時折、私たちのサービスを適切に提供し、適用される法律に準じるためにプライバシーポリシーを更新することがあります。変更は追加の通知を表示するか、他の方法であなたに伝えられます。定期的にこのプライバシーポリシーのページを訪れて、変更を確認してください。改訂されたプライバシーポリシーに同意できない場合は、直ちにQuantzの使用を中止する権利があります。更新の通知後、合理的な時間内にサービスの継続的な使用は、すべての修正が受け入れられたとみなされます。</p>

<h2 class="subtitle">お問い合わせ</h2>
<p>このプライバシーポリシーについてご質問がある場合は、以下の方法でお問い合わせください：</p>
<p>メールによるお問い合わせ: {{ mail_support }}</p>

    </div>
</div>

{% include 'common/footer.html' %}
{% endblock %}

{% block foot %}
{% endblock %}