[Unit]
Description=uWSGI
After=network.target

[Service]
Type=simple
WorkingDirectory=/src/quantz/web-server
ExecStart=/src/quantz/web-server/venv/bin/uwsgi --ini /src/quantz/web-server/uwsgi/uwsgi.ini
User=kaz
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target