{%extends "general/base.html" %}

{% block head %}
<link rel=stylesheet href=/css/main.css>
<script src=/js/data/enums.js></script>
<script src="/js/simplicity/dist/simplicity.js"></script>
<link rel=stylesheet href=/js/simplicity/dist/simplicity_default.css>
<script src="/node_modules/js-cookie/dist/js.cookie.min.js"></script>
{% endblock %}

{% block content %}
<script>
{
    const lang = "{{ lang }}"
    const langName = "{{ lang_name }}"

    const freeCall = "{{ free_call }}"
    const unitPrice = "{{ unit_price }}"
    const generalCreditPerResponse = "{{ general_credit_per_response }}"
    const interviewCreditPerResponse = "{{ interview_credit_per_response }}"

    const localeDict = {{ locale_json | safe }};
    if (!localeDict) {
        console.error('locale_json not received.');
    }
    const locale = new Locale(localeDict);

    console.log(locale);

    window.locale = locale;
    window.lang = lang;
    window.langName = langName;

    window.freeCall = parseInt(freeCall);
    window.unitPrice = parseFloat(unitPrice);
    window.generalCreditPerResponse = parseInt(generalCreditPerResponse);
    window.interviewCreditPerResponse = parseInt(interviewCreditPerResponse);

    function redirectToSignup(tag) {
      // Build the URL dynamically based on whether a language is set
      const signupUrl = lang ? `/v1/${lang}/signup` : '/v1/signup';
      window.location.href = signupUrl + `?tag=${tag}&service=interview`;
  }
}
</script>
<section id="InterviewTop">
    <div id="header">
        <!-- Header Top -->
        <div id="header-top">
            <div class="left-container"></div>
            <div class="center-container"></div>
            <div class="right-container">
                <div class="button-wrapper">
                    <!-- Contact Button -->
                    <a target="_blank" href="https://thinkxinc.com/{{ lang }}//inquiry/product">
                        <button class="contact arrow-button">
                            <p>{{ locale_dict["interview_top_header_button_contact"][lang] }}</p>
                            <img class="arrow-icon" src="/img/interview_top/button-arrow.svg" alt="Arrow">
                        </button>
                    </a>
                    <!-- Try Now Button -->
                    <button onclick="redirectToSignup('header-top')" class="try-now arrow-button">
                        <p>{{ locale_dict["interview_top_header_button_try_now"][lang] }}</p>
                        <img class="arrow-icon" src="/img/interview_top/button-arrow.svg" alt="Arrow">
                    </button>
                </div>
                <!-- Locale Selector -->
                <div class="locale">
                    {% include 'common/lang_selector.html' %}
                </div>
            </div>
        </div>

        <!-- Header Main -->
        <div id="header-main">
            <!-- Main Top Section -->
            <div id="header-with-logo" class="header-with-logo">
                <div class="left-container"></div>
                <div class="center-container">
                    <!-- Top Copy -->
                    <h1 class="top-copy">{{ locale_dict["interview_top_header_top_copy"][lang] }}</h1>
                    <!-- Logo -->
                    <img class="logo" src="/img/interview_top/logo-interview@2x.png" alt="Logo">
                </div>
                <div class="right-container"></div>
            </div>

            <!-- Main Content Section -->
            <div class="header-main-main">
                <div class="left-container">
                    <!-- Main Copy -->
                    <h2 class="main-copy">{{ locale_dict["interview_top_header_main_copy"][lang] }}</h2>
                     <!-- Get Started Button -->
                     <button onclick="redirectToSignup('header-main')" class="get-start arrow-button">
                        <p>{{ locale_dict["interview_top_header_button_get_start"][lang] }}</p>
                        <img class="arrow-icon" src="/img/interview_top/button-arrow.svg" alt="Arrow">
                    </button>
               </div>
                <div class="right-container">
                    <!-- Video -->
                    <video src="/video/interview/top/interview-top1.1.mp4" autoplay controls muted loop playsinline></video>
                </div>
            </div>
        </div>
    </div>

    <!-- Technology -->
    <div id="technology">
        <div class="container">
            <!-- Copy Wrapper -->
            <div class="copy-wrapper">
                <h3 class="catch-copy">{{ locale_dict["interview_top_technology_catch_copy"][lang] }}</h3>
                <h2 class="main-copy">
                    <span>{{ locale_dict["interview_top_technology_main_copy_highlight"][lang] }}</span>
                    {{ locale_dict["interview_top_technology_main_copy"][lang] }}
                </h2>
            </div>
    
            <!-- Content Wrapper -->
            <div class="content-wrapper">
                <div class="left">
                    <p class="text">{{ locale_dict["interview_top_technology_text"][lang] }}</p>
                </div>
                <div class="right">
                    <div id="chart">
                        <div class="chart-ghraph">
                            <span class="emphasize">25x</span>
                            <span class="left-bar"></span>
                            <span class="right-bar"></span>
                            <ul class="lines">
                                <li class="line"></li>
                                <li class="line"></li>
                                <li class="line"></li>
                                <li class="line"></li>
                            </ul>
                            <span class="x-axis"></span>
                        </div>
                        <div class="chart-left-box">
                            <div class="label">
                                <span class="chart-left-price">{{ locale_dict["interview_top_technology_chart_left_price"][lang] }}</span>
                                <span class="chart-left-per-interview">{{ locale_dict["interview_top_technology_chart_per_interview"][lang] }}</span>
                            </div>
                            <span class="chart-left-name">{{ locale_dict["interview_top_technology_chart_left_name"][lang] }}</span>
                        </div>
                        <div class="chart-right-box">
                            <div class="label">
                                <span class="chart-right-price">{{ locale_dict["interview_top_technology_chart_right_price"][lang] }}</span>
                                <span class="chart-right-per-interview">{{ locale_dict["interview_top_technology_chart_per_interview"][lang] }}</span>
                            </div>
                            <span class="chart-right-name">{{ locale_dict["interview_top_technology_chart_right_name"][lang] }}</span>
                        </div>
                    </div>
                    <span class="annotation"><sup>*</sup>{{ locale_dict["interview_top_technology_price_annotation"][lang] }}</span>
                </div>
            </div>
        </div>
    </div>

    <!-- Needs -->
    <div id="needs">
        <div class="container">
            <div class="part recruiting highlight">
                <h4 class="title">{{ locale_dict["interview_top_needs_recruiting_head"][lang] }}</h4>
                <div class="box">
                    <p class="comment">{{ locale_dict["interview_top_needs_recruiting_text"][lang] |safe }}</p>
                </div>
                <div class="circles">
                    <div class="circle M"></div>
                    <div class="circle S"></div>
                </div>
            </div>
            <div class="part reporting">
                <h4 class="title">{{ locale_dict["interview_top_needs_reporting_head"][lang] }}</h4>
                <div class="box">
                    <p class="comment">{{ locale_dict["interview_top_needs_reporting_text"][lang] |safe }}</p>
                </div>
                <div class="circles">
                    <div class="circle M"></div>
                    <div class="circle S"></div>
                </div>
            </div>
            <div class="part sales">
                <h4 class="title">{{ locale_dict["interview_top_needs_sales_head"][lang] }}</h4>
                <div class="box">
                    <p class="comment">{{ locale_dict["interview_top_needs_sales_text"][lang] |safe }}</p>
                </div>
                <div class="circles">
                    <div class="circle M"></div>
                    <div class="circle S"></div>
                </div>
            </div>
        </div>
    </div>

    <!-- Steps -->
    <div id="steps-wrapper">
        <div id="steps">
            <div id="steps-header" class="steps-header">
                <ul class="step-heads">
                    <li class="step-head one create">
                        <span class="label">{{ locale_dict["interview_top_steps_step1"][lang] }}</span>
                        <span class="title">{{ locale_dict["interview_top_steps_step1_title"][lang] }}</span>
                    </li>
                    <li class="step-head two test">
                        <span class="label">{{ locale_dict["interview_top_steps_step2"][lang] }}</span>
                        <span class="title">{{ locale_dict["interview_top_steps_step2_title"][lang] }}</span>
                    </li>
                    <li class="step-head three send">
                        <span class="label">{{ locale_dict["interview_top_steps_step3"][lang] }}</span>
                        <span class="title">{{ locale_dict["interview_top_steps_step3_title"][lang] }}</span>
                    </li>
                    <li class="step-head four result">
                        <span class="label">{{ locale_dict["interview_top_steps_step4"][lang] }}</span>
                        <span class="title">{{ locale_dict["interview_top_steps_step4_title"][lang] }}</span>
                    </li>
                </ul>
                <div id="steps-indicator" class="indicator">
                    <span id="steps-indicator-bar" class="bar"></span>
                </div>
            </div>
            <div class="step-content-wrapper">
                <ul class="step-contents">
                    {# 1. create #}
                    <li id="step-create" class="step one create show">
                        <div class="video-background-sp" style="display:none;">
                            <video src="/video/interview/top/interview-create.mp4" autoplay muted loop playsinline></video>
                        </div>
                        <div class="header">
                            <h2 class="step-copy">{{ locale_dict["interview_top_steps_step1_main"][lang] }}</h2>
                            <h4 class="step-subcopy">{{ locale_dict["interview_top_steps_step1_sub"][lang] }}</h4> 
                        </div>
                        <div class="content">
                            <div class="left">
                                <video src="/video/interview/top/interview-create.mp4" autoplay muted loop playsinline></video>
                            </div>
                            <div id="CreateInterviewDemo" class="right">
                            </div>
                        </div>
                    </li>
                    {# 2. test #}
                    <li id="step-test" class="step two test show">
                        <div class="video-background-sp" style="display:none;">
                            <video src="/video/interview/top/interview-lara.mp4" autoplay muted loop playsinline></video>
                        </div>
                        <div class="header">
                            <h2 class="step-copy">{{ locale_dict["interview_top_steps_step2_main"][lang] }}</h2>
                        </div>
                        <div class="content">
                            <div class="left">
                                <video src="/video/interview/top/interview-lara.mp4" autoplay muted loop playsinline></video>
                            </div>
                        <div class="right">
                            <button id="run-meeting-button" class="run-meeting arrow-button">
                                <p>{{ locale_dict["interview_top_steps_step2_button"][lang] }}</p>
                                <img class="arrow-icon" src="/img/interview_top/button-arrow.svg" alt="Arrow">
                            </button>
                            <p class="try-announce">{{ locale_dict["interview_top_steps_step2_button_suppply"][lang] }}</p>
                        </div>
                    </li>
                    {# 3. send #}
                    <li id="step-send" class="step three send show">
                        <div class="header">
                            <h2 class="step-copy">{{ locale_dict["interview_top_steps_step3_main"][lang] }}</h2>
                        </div>
                        <div class="mail-container">
                            <div id="mail" class="mail">
                                <span class="mail-recepient">{# interview_top_steps_step3_mail_{key}_recepient #}</span>
                                <span class="mail-title">{# interview_top_steps_step3_mail_{key}_title #}</span>
                                <span class="mail-text">
                                    {# interview_top_steps_step3_mail_{key}_text #}
                                    <!-- <span class="url">Your dynamic URL here</span> -->
                                </span>
                                <div class="mail-footer">
                                    <div class="send-button">
                                        <img class="mail-icon" src="/img/interview_top/mail-icon.svg" alt="Mail Icon">
                                        <p class="send-button-label">{{ locale_dict["interview_top_steps_step3_mail_send_button"][lang] }}</p>
                                        <img class="pointer" src="/img/interview_top/pointer.png" alt="Mail Icon">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    {# 4. result #}
                    <li id="step-result" class="step four result show">
                        <div class="header">
                            <h2 class="step-copy">{{ locale_dict["interview_top_steps_step4_main"][lang] }}</h2>
                        </div>
                        <div class="content">
                            <div class="container">
                                <div id="smartphone" class="smartphone"></div>
                                <div id="laptop" class="laptop"></div>
                                {#<img class="smartphone" src="/img/interview_top/smartphone-animate.svg"/>#}
                                {#<img class="laptop" src="/img/interview_top/laptop.svg"/>#}
                                <video id="smartphone-video" class="smartphone-video" src="/video/interview/top/smartphone-mail-result.mp4" autoplay muted loop playsinline></video>
                                <video id="laptop-video" class="laptop-video" src="/video/interview/top/interview-result-pc.mp4" autoplay muted loop playsinline></video>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <!-- Register -->
    <div id="register">
        <div class="container">
             <button onclick="redirectToSignup('register')" class="register-button arrow-button">
                <p>{{ locale_dict["interview_top_signup_for_free_button"][lang] }}</p>
                <img class="arrow-icon" src="/img/interview_top/button-arrow.svg" alt="Arrow">
            </button>
        </div>
    </div>



  {% include 'common/corporate_footer.html' %}
</section>

{% endblock %}

{% block foot %}
<script src=/js/view_components/interview_create_view.js></script>
<script src=/js/top/interview_top.js></script>
{% endblock %}