@cubic-bezier1: cubic-bezier(.65,0,.34,1);
@cubic-bezier2: cubic-bezier(.4, 0, .2, 1);
@alert-red: #8c1111;

div#MainContent.CreateViewMainContent {
    background-color: #000;

}

section#MainContent.CreateViewMainContent {
    width: 100%;
}

div#CreatePageView {
    width: 100%;
    height: 100%;

    div.PageViewContainer {
        display: flex;
        height: 100%;

        /****************************************
         * Start Page
         ****************************************/
        div.StartPageWrapper {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;


            button.StartPageButton {
                color: #fff;
                padding: 16px 33px;
                border: 1px solid #6b6b6b;
                //border-radius: 4px;
                border-radius: 34px;
                background: rgb(94 94 94 / 40%);

                transition: 
                    background 0.2s @cubic-bezier1,
                    border 0.2s @cubic-bezier1;


                &.action {
                    .fadeScaleDown2;
                    //.flicker;
                    span {
                        opacity: 0;
                    }
                }
                //&:not(:hover) {
                //    .button-border-pulse; // e.g. animation: borderPulse 2s infinite alternate;
                //}
                &:hover {
                    background: rgba(110, 110, 110, 0.5);
                    border: 1px solid #bebebe;
                    span.tooltip {
                        opacity: 1;
                        visibility: visible;
                    }
                }
            }
        }

        /****************************************
         * Voice Page
         ****************************************/
        div.VoicePageWrapper {
            div.VoiceGroupList {
                white-space: nowrap;
                overflow-x: auto;

                div.VoiceGroup {
                    div.VoiceGroupWrapper {
                        div.VoiceOptionsWrapper {
                            div.VoiceOptions {
                                div.VoiceOption {
                                    transition: 
                                        background-color 0.2s @cubic-bezier1,
                                        border 0.2s @cubic-bezier1,
                                        box-shadow 0.2s @cubic-bezier1;

                                    &:hover {
                                        //background-color: #000;

                                    }
                                    button.PlayButton {
                                        img {
                                        }
                                    }
                                    span.name {
                                    }

                                    ul.categories {
                                        li.category {
                                        }
                                    }
                                }
                            }

                            div.locale {
                            }
                        }

                        div.buttonWrapper {
                            button.SelectButton {
                                span {
                                }
                            }
                        }
                    }
                }
            }
        }

        /****************************************
         * Program Page
         ****************************************/
        div.ProgramPageWrapper {
        }
    }
}


@smartphone-width: 480px;

@media (max-width: @smartphone-width) {
    div#CreatePageView {
        div.PageViewContainer {

            div.StartPageWrapper {
                button.StartPageButton {
                }
            }

            div.VoicePageWrapper {
                div.VoiceGroupList {
                    div.VoiceGroup {
                        div.VoiceGroupWrapper {
                            div.VoiceOptionsWrapper {
                                div.VoiceOptions {
                                    div.VoiceOption {
                                        button.PlayButton {
                                            img {
                                            }
                                        }
                                        span.name {
                                        }
                                        ul.categories {
                                            li.category {
                                            }
                                        }
                                    }
                                }
                                div.locale {
                                }
                            }
                            div.buttonWrapper {
                                button.SelectButton {
                                    span {
                                    }
                                }
                            }
                        }
                    }
                }
            }

            div.ProgramPageWrapper {
            }
        }
    }
}
