@cubic-bezier1: cubic-bezier(.65,0,.34,1);
@cubic-bezier2: cubic-bezier(.4, 0, .2, 1);
@alert-red: #8c1111;

body {
    --create-text-standard: #fff;
    --create-text-dark: #a2a2a2;
    --voiceset-label-bg-blue: #01BFD8;
    --voiceset-label-bg-green:  #27AE60;
    --voiceset-label-bg-yellow: #F2C94C;
    --voiceset-label-bg-red:    #EB5757;
    --voiceset-label-bg-purple: #9B51E0;
}

div#MainContent.CreateViewMainContent {
    background-color: #000;
}

section#MainContent.CreateViewMainContent {
    width: 100%;
}

div#CreatePageView {
    width: 100%;
    height: 100%;


    button.commonV1Large {
        color: #fff;
        padding: 16px 33px;
        border: 1px solid #6b6b6b;
        border-radius: 34px;
        background: rgb(94 94 94 / 40%);

        transition: 
            color 0.2s @cubic-bezier1,
            background 0.2s @cubic-bezier1,
            border 0.2s @cubic-bezier1;

        &.action {
            .fadeScaleDown2;
            span {
                opacity: 0;
            }
        }
        &:hover {
            background: rgba(110, 110, 110, 0.5);
            border: 1px solid #bebebe;
            span.tooltip {
                opacity: 1;
                visibility: visible;
            }
        }
    }

    button.commonV1Small {
        font-size: 12px;
        color: #a6a6a6;
        border: 1px solid #a6a6a6;
        background: rgb(94 94 94 / 40%);
        padding: 7px 15px;
        border-radius: 5px;
        transition: 
            background 0.2s @cubic-bezier1,
            color 0.2s @cubic-bezier1,
            border 0.2s @cubic-bezier1,
            box-shadow 0.2s @cubic-bezier1;

        &.action {
            .fadeScaleDown2;
            span {
                opacity: 0;
            }
        }
        &:hover {
            background: rgba(110, 110, 110, 0.5);
            border: 1px solid #bebebe;
            span.tooltip {
                opacity: 1;
                visibility: visible;
            }
        }
    }



    div.PageViewContainer {
        display: flex;
        height: 100%;

        /****************************************
         * Start Page
         ****************************************/
        div.StartPageWrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;

            div.LoadingMessageWrapper {
                display: flex;
                height: 30px;
                width: 100%;
                font-size: 14px;
                margin-bottom: 30px;
            }


            button.StartPageButton {
                color: #fff;
                padding: 16px 33px;
                border: 1px solid #6b6b6b;
                //border-radius: 4px;
                border-radius: 34px;
                background: rgb(94 94 94 / 40%);
                margin-bottom: 55px;

                transition: 
                    background 0.2s @cubic-bezier1,
                    border 0.2s @cubic-bezier1;


                &.action {
                    .fadeScaleDown2;
                    //.flicker;
                    span {
                        opacity: 0;
                    }
                }
                //&:not(:hover) {
                //    .button-border-pulse; // e.g. animation: borderPulse 2s infinite alternate;
                //}
                &:hover {
                    background: rgba(110, 110, 110, 0.5);
                    border: 1px solid #bebebe;
                    span.tooltip {
                        opacity: 1;
                        visibility: visible;
                    }
                }
            }

            div#InteractionModelListContainer {

                div#GradientLoadingBar.GradientLoadingBar {
                }

                div.InteractionModelsScrollWrapper {
                    .horizontalScrollListWrapper();
                    ul.InteractionModelList {
                        display: flex;
                        flex-direction: row;
                        max-width: calc(100vw - 60px);
                        .horizontalScrollList();
                        align-items: flex-start;
                        li.InteractionModel {
                            position: relative;
                            .smallPanel(@isHoverTransition: true);
                            display: flex;
                            min-width: 300px;
                            min-height: 148px;
                            justify-content: space-between;
                            flex-direction: column;
                            color: #fafafa;
                            margin-right: 20px;
                            div.main {
                                h4.title {
                                    font-size: 28px;
                                    white-space: normal;
                                    margin-bottom: 7px;
                                }
                                span.voicesetName {
                                    font-size: 11px;
                                    background-color: var(--create-label-bg-blue);
                                    padding: 2px 4px;
                                    border-radius: 2px;
                                }
                            }

                            div.footer {
                                span.createdStr {
                                    margin-bottom: 7px;
                                    text-align: right;
                                    width: 100%;
                                    display: block;
                                    color: #aaa;
                                    font-size: 13px;
                                }
                            }
                            div.control {
                                display: none;
                                position: absolute;
                                bottom: 10px;
                                left: 10px;
                                background: transparent;
                                border-radius: 4px;
                                padding: 4px 8px;
                                // Fade in
                                transition: opacity 0.2s ease-in-out;
                                opacity: 0;
                  
                                div.edit,
                                div.delete {
                                    .tooltipBottom();
                                    width: 20px;
                                    cursor: pointer;
                                    color: #fff;
                                    margin: 0 5px;
                                    display: inline-block;
                                }
                            }
                  
                            // when hovered over li, show .control
                            &:hover .control {
                              display: block;
                              opacity: 1;
                            }

                        }
                    }
 
                }
           }
        }

        /****************************************
         * Voice Page
         ****************************************/
        div.VoicePageWrapper {
            height: 100%;
            display: flex;
            //flex-direction: column;
            //align-items: center;
            padding: 120px 0;
            flex-direction: column;

            h2.VoicePageTitle {
                color: #a4a4a4;
                text-align: center;
                font-size: 34px;
                margin-bottom: 28px;
                .textColorPulse(2s, #969696, #7c7c7c);
                .slideInStartPositionBottom(10vh, 0.5s, 1s);
            }

            div.LoadingMessageWrapper {
                height: 30px;
                display: flex;
                flex-direction: row;
                justify-content: center;
                width: 100%;
                div.LoadingMessage {
                    padding: 11px 0;
                }
            }

            div.VoiceGroupListScrollWrapper {
                // TODO: use common .horizontalScrollListWrapper()
                white-space: nowrap;
                overflow-y: visible;

                overflow-x: scroll;           // or auto, but typically scroll if you want to ensure it’s scrollable
                scrollbar-width: none;        // Firefox
                -ms-overflow-style: none;     // IE 10+
    
                &::-webkit-scrollbar {
                    display: none;             // Chrome, Safari, Opera
                }
 
                div.VoiceGroupList {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    padding: 43px 43px;
                    padding-bottom: 84px;
                    min-width: 100%;
                    width: max-content;
                    overflow-y: visible;

                    .slideInStartPositionRight;

                    div.VoiceGroup {
                        cursor: pointer;
                        width: 573px;
                        background-color: #333333;
                        border: 1px solid #727272;
                        border-radius: 6px;
                        padding: 42px 45px;
                        box-shadow: 2px 5px 16px rgba(0, 0, 0, 0.2);

                        &:first-child {
                            margin-left: 200px;
                        }
                        &:not(:last-child) {
                            margin-right: 70px;
                        }
                        &:last-child {
                            margin-right: 400px;
                        }

                        transition: 
                            background-color 0.2s @cubic-bezier1,
                            box-shadow 0.2s @cubic-bezier1,
                            border 0.2s @cubic-bezier1;
                        &:hover {
                            background-color: #3d3d3d;
                            box-shadow: 2px 5px 16px rgba(0, 0, 0, 0.4);
                            border: 1px solid #949494;
                        }

                        div.VoiceGroupWrapper {
                            label.VoiceGroupName {
                                color: #c5c5c5;
                                width: 100%;
                                font-size: 14px;
                                display: block;
                                text-align: center;
                                margin-bottom: 30px;
                            }
                            div.VoiceOptionsWrapper {
                                display: flex;
                                flex-direction: row;
                                align-items: center;
                                justify-content: center;
                                margin-bottom: 31px;

                                div.VoiceOptions {
                                    div.VoiceOption {
                                        display: flex;
                                        flex-direction: row;
                                        align-items: center;

                                        margin-right: 20px;
                                        &.hide {
                                            display: none;
                                        }

                                        //&:not(:last-child) {
                                        //    margin-bottom: 17px;
                                        //}

                                        transition: 
                                            background-color 0.2s @cubic-bezier1,
                                            border 0.2s @cubic-bezier1,
                                            box-shadow 0.2s @cubic-bezier1;

                                        &:hover {
                                            //background-color: #000;

                                        }
                                        button.PlayButton {
                                            display: flex;
                                            flex-direction: row;
                                            align-items: center;
                                            margin-right: 12px;
                                            width: 59px;
                                            //width: 41px;
                                            .tooltipBottom(translateX(0%), #313131);
                                            svg {
                                                height: 40px;
                                            }
                                            img {
                                                width: 24px;
                                            }
                                        }
                                        span.name {
                                            font-size: 14px;
                                            color: #aaa;
                                            margin-right: 20px;
                                        }

                                        ul.categories {
                                            display: flex;
                                            flex-direction: row;
                                            width: max-content;
                                            li.category {
                                                color: #aaa;
                                                background-color: #444;
                                                border-radius: 20px;
                                                width: max-content;
                                                padding: 2px 11px;
                                                font-size: 10px;
                                                &:not(:last-child) {
                                                    margin-right: 14px;
                                                }
                                            }
                                        }
                                    }
                                }

                                div.locale {
                                    .tooltipBottom(translateX(0%), #313131);
                                    div.lang-selector {
                                        .darkButton1();
                                        div.lang-selector-button {
                                            display: flex;
                                            flex-direction: row;
                                            align-items: center;
                                            background-color: transparent;
                                            padding: 6px 17px;
                                            border: 1px solid #818181;
                                            border-radius: 3px;
                                            img.locale-icon {
                                                width: 12px;
                                                margin-right: 6px;
                                            }
                                            span.current-lang {

                                            }
                                            img.arrow-icon {

                                            }
                                        }
                                        ul.lang-options {
                                            top: 70%;
                                            left: 0;
                                            background-color: transparent;
                                            border: 1px solid #545454;
                                            padding: 0;
                                            li.select {
                                                font-size: 13px;
                                                padding: 11px 16px;
                                                &:hover {
                                                    color: #fff;
                                                    background-color: #3c3c3c;
                                                }
                                            }
                                        }
                                    }
                                }
                            }

                            div.buttonWrapper {
                                display: flex;
                                flex-direction: row;
                                align-items: center;
                                justify-content: center;
                                button.SelectButton.commonV1Small {
                                    padding: 12px 20px;
                                    border-radius: 25px;
                                    background: rgba(110, 110, 110, 0);
                                    width: 167px;
                                    height: 44px;
                                    &:hover {
                                        background: rgba(110, 110, 110, 0.4);
                                    }
                                    span {
                                    }
                                }
                            }
                        }
                    }


                }
            }
        }

        /****************************************
         * Program Page
         ****************************************/
        div.ProgramPageWrapper {
        }
    }
}

div#DeleteInteractionModelModal {
    div.bg {

    }
    div.window {
        h3.ModalViewTitle {
            font-size: 14px;
        }
        div.modalViewFooter {
            button.doneButton {
                border-color: #c40000;
                background-color: #960000;
                &:hover {
                    border-color: #c06161;
                    background-color: #d30a0a;
                }
            }
        }
    }
}


@smartphone-width: 480px;

@media (max-width: @smartphone-width) {
    div#CreatePageView {
        div.PageViewContainer {

            div.StartPageWrapper {
                button.StartPageButton {
                }
            }

            div.VoicePageWrapper {
                div.VoiceGroupList {
                    div.VoiceGroup {
                        div.VoiceGroupWrapper {
                            div.VoiceOptionsWrapper {
                                div.VoiceOptions {
                                    div.VoiceOption {
                                        button.PlayButton {
                                            img {
                                            }
                                        }
                                        span.name {
                                        }
                                        ul.categories {
                                            li.category {
                                            }
                                        }
                                    }
                                }
                                div.locale {
                                }
                            }
                            div.buttonWrapper {
                                button.SelectButton {
                                    span {
                                    }
                                }
                            }
                        }
                    }
                }
            }

            div.ProgramPageWrapper {
            }
        }
    }
}
