@cubic-bezier1: cubic-bezier(.65,0,.34,1);
@open-chatview-duration: 0.3s;

div.MeetingView {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100vh;

    &.openChatView {
        div.LeftContainer {
            width: calc(100% - 300px);
        }
        div.ChatView {
            width: 300px;
        }
    }

    div.LeftContainer {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        background-color: #252525;
        transition: width @open-chatview-duration @cubic-bezier1;

        div.VideoContainer {
            display: flex;
            flex-direction: column;
            padding: 30px 30px 30px 62px;
            height: 100%;

            div.VideoView, video.VideoView {
                background-color: black;
                width: 600px;
                height: 340px;
 
                div.NameLabel {
                    position: absolute;
                    color: #000;
                    bottom: 0;
                    left: 0;
                    background-color: white;
                    padding: 2px 3px;
                    font-size: 10px;
                }

            }

            div.OtherPersonView {
                display: flex;
                align-items: center;
                justify-content: center;
                color: white;
                padding: 10px;
                position: relative;
                margin-bottom: 18px;
            }

            div.SelfViewContainer {
                display: flex;
                flex-direction: row;
                align-items: center;
                video.SelfView {
                    object-fit: cover;
                    margin-right: 59px;
                }

                div.QBTN-balloon-container {
                    //display: none;
                    top: -553px !important;
                    left: 377px !important;
                    div.QBTN-balloon-rect {
                        width: 423px !important;
                        height: 92vh !important;
                    }
                }
            }

        }

        div.SignalMonitor {
            height: 80px;
            width: 100%;
            background: #2e2e2e;
        }
    }

    div.ChatView {
        display: flex;
        flex-direction: column;
        height: 100%;
        /* background-color: #f1f1f1; */
        background-color: #202020;
        overflow: hidden; // Hide content when width is 0
        width: 0;
        transition: width @open-chatview-duration @cubic-bezier1; // Animate width change

        div.ChatLog {
            height: 100%;

            ul.ChatLogMessageList {
                height: calc(100% - 50px); /* Subtract ChatLogFooter height */
                overflow-y: auto;
                //background-color: #fff;
                background-color: #3b3b3b;
                margin: 0;
                padding: 10px 5px;
    
                li.messageItem {
                    padding: 5px 10px;
                    display: flex;
                    align-items: baseline;
    
                    span.speaker {
                        font-weight: bold;
                        margin-right: 5px;
                        font-size: 9px;
                        font-weight: 700;
                        width: 47px;
                        min-width: 47px;
                        max-width: 47px;
                        text-align: left;
                        word-wrap: break-word;
                    }
    
                    span.messageContainer {
                        display: block;
                        text-align: left;
                        p.message {
                            display: inline;
                            font-size: 14px;
                        }
                    }
    
                    /* Speaker color styles */
                    &.user {
                        span.speaker {
                            color: #A5A5A5;
                        }
                        span.messageContainer {
                            p.message {
                                color: #A5A5A5;
                                //color: #000;
                            }
                        }
                    }
    
                    &.system {
                        span.speaker {
                            color: #368fe8;
                        }
                        span.messageContainer {
                            p.message {
                                color: #368fe8;
                            }
                        }
                    }
    
                    &.announce {
                        span.speaker {
                            color: #8a8a8a;
                        }
                        span.messageContainer {
                            p.message {
                                color: #8a8a8a;
                            }
                        }
                    }
                }
            }
        }
    
        div.ChatLogFooter {
            height: 50px; /* Set the desired fixed height */
            background-color: #232323;
            padding: 10px;
            box-sizing: border-box;
    
            div.ChatLogAnnotation {
                font-size: 11px;
                color: #888888;
            }
        }
    }
}
