@cubic-bezier1: cubic-bezier(.65,0,.34,1);
@open-chatview-duration: 0.3s;
@alert-red: #8c1111;

// MainContent

#MainContent.interviews {
    display: flex;
    flex-direction: row;

}

// Left Column

div#InterviewListContainer {
    max-width: 600px;
    height: 100vh;
    div.TableView.interviewList {
        div.tableViewContainer {
            div.interviewListHeader {
                div.leftContainer {
                    h1.interviewListHeaderTitle {
                        // Styles here
                    }
                    h3.interviewListCount {
                        // Styles here
                    }
                }
                div.rightContainer {
                    img.search_icon {
                        // Styles here
                    }
                }
            }
            div.createNew {
                cursor: pointer;
                display: flex;
                align-items: center;
                padding: 20px;
                height: 65px;
                background-color: #50636a;
            
                img.plusIcon {
                    width: 24px;
                    height: 24px;
                    margin-right: 10px;
                }
            
                h4.title {
                    font-size: 16px;
                    color: #fff;
                }
            }
            div.tableView.interviewListTableView {
                ul.tableListView.interviewListListView {
                    li.TableViewCell.tableViewCell.interviewListCell {
                        transition: background-color 0.3s @cubic-bezier1;
                        min-height: 78px;
                        &:hover {
                            background-color: #f0f0f0;
                        }
                        &.selected {
                            background-color: #eaeaea;
                        }
                        div.contentWrapper {
                            div.header {
                                span.label {
                                    // Styles here
                                }
                                h6.title {
                                    // Styles here
                                }
                            }
                            div.body {
                                p.text {
                                    // Styles here
                                }
                            }
                            div.footer {
                                // Styles here
                            }
                        }
                        div.buttonContainer.right {
                            button {
                                svg.deleteIconSVG {
                                    // Styles here
                                }
                            }
                        }
                    }
                }
                div.gradientViewIndicator.TableViewGradientLoader {
                    div.indicator-container {
                        div.indicator-wrapper {
                            svg {
                                // Styles here
                            }
                        }
                    }
                }
            }
        }
    }
}  


// Right Column


// Right Column
div#InterviewPreviewContainer {
    padding: 20px;
    width: 100%;
    height: 100vh;
    overflow-y: auto;

    div.InterviewPreviewView {
        padding: 20px;
        width: 100%;
        height: 100vh;

        button.editButton {
            background-color: transparent; /* Makes background transparent */
            color: #50636a; /* Sets icon color to match the desired color */
            border: none;
            padding: 10px;
            cursor: pointer;
            margin-bottom: 20px;
            float: right;
            transition: color 0.3s; /* For gradual color change */
    
            svg {
                width: 24px;
                height: 24px;
            }
        }
    
        button.editButton:hover {
            color: #01a7e3; /* Changes icon color on hover */
        }
    
        button.editButton:active {
            color: #00c3ff; /* Changes icon color on click */
        }

        div.InterviewSummaryView {
            h2 {
                font-size: 24px;
                margin-bottom: 10px;
                margin-bottom: 50px;
            }

            div.introductionContainer {
                margin-bottom: 42px;

                span.introductionLabel {
                    font-size: 13px;
                    font-weight: bold;
                    display: block;
                    margin-bottom: 10px;
                }

                p.introduction {
                    background-color: #f7f7f7;
                    padding: 20px;
                    border-radius: 7px;
                    font-size: 19px;
                    font-weight: 600;
                }
            }

            div.stepArrowContainer {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                img.stepArrow {
                    display: block;
                    margin-top: 10px;
                    margin-bottom: 10px;
                    width: 56px;
                }
            }

            div.stepContainer {
                position: relative;
                margin-bottom: 13px;

                h3.stepTitle {
                    position: absolute;
                    top: 0;
                    left: 8%;
                    transform: translate(-50%, -50%);
                    background-color: transparent; // Make background transparent
                    padding: 0 10px;
                    font-size: 17px;
                    &::before {
                        content: '';
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        width: 95%;
                        height: 3px;
                        background-color: white;
                        z-index: -1;
                    }
                }

                div.stepContent {
                    border: 1px solid #ccc;
                    border-radius: 10px;
                    padding: 20px;
                    margin-top: 20px;
                    background-color: #fefefe;

                    div.questionWrapper,
                    div.instructionsWrapper,
                    div.finishConditionWrapper,
                    div.maxTurnsWrapper {
                        margin-top: 10px;
                    }

                    span.questionLabel,
                    span.finishConditionLabel,
                    span.maxTurnsLabel,
                    span.instructionsLabel {
                        font-weight: bold;
                        display: block;
                        margin-bottom: 6px;
                        font-size: 13px;
                    }

                    p.question,
                    p.finishCondition {
                        margin: 5px 0 15px 0;
                    }

                    p.question {
                        background-color: #f7f7f7;
                        padding: 16px;
                        border-radius: 5px;
                        font-size: 19px;
                        font-weight: 600;
                    }

                    span.maxTurns {
                        margin-left: 5px;
                    }

                    div.instructionsWrapper {

                        ul.instructions {
                            list-style: none;
                            padding: 0;

                            li {
                                display: flex;
                                align-items: center;
                                margin-bottom: 5px;

                                span.index {
                                    display: inline-block;
                                    background-color: #eee;
                                    border-radius: 5px;
                                    padding: 2px 8px;
                                    margin-right: 9px;
                                }
                            }
                        }

                        span.moreDetail {
                            cursor: pointer;
                            display: flex;
                            align-items: center;
                            margin-top: 20px;

                            img.moreDetailArrow {
                                transition: transform 0.3s;
                                margin-right: 5px;
                                width: 13px;
                            }

                            p.moreDetailLabel {
                                color: #525252 !important;
                                font-size: 13px;
                            }

                            &.rotated img.moreDetailArrow {
                                transform: rotate(180deg);
                                transition: transform 0.7s cubic-bezier(0.4, 0.0, 0.2, 1);
                            }
                        }

                        div.hiddenContent {
                            overflow: hidden;
                            max-height: 0;
                            transition: max-height 0.5s @cubic-bezier1;

                            &.expanded {
                                max-height: 500px; // Adjust as needed
                            }
                        }
                    }
                }
            }

            div.endContainer {
                margin-top: 40px;

                span.endLabel {
                    font-weight: bold;
                    display: block;
                    margin-bottom: 6px;
                    font-size: 13px;
                }

                p.endText {
                    background-color: #f7f7f7;
                    padding: 20px;
                    border-radius: 7px;
                    font-size: 19px;
                    font-weight: 600;
 
                }
            }
        }

        div.InterviewLatestResultsView {
            margin-top: 20px;
            // Additional styles if needed
        }
    }
}