div#InterviewCreateView {
    padding: 20px 0;
    width: 100%;
    height: 100vh;

    div.InterviewCreateViewContainer {
        padding: 20px 0;
        width: 100%;
        height: 100vh;

        // Reset default styles for TextField
        div.TextField {
            .inputOuter {
                background: #f4f4f4;
                border: none;
                .inputWrapper input {
                    margin: 0;
                    padding: 0 5px;
                    border-radius: 7px;
                    width: 100%;
                    height: 30px;
                }
                .footer {
                    padding: 0;
                }
            }
        }

        // Adjust font size in certain containers
        div.introductionContainer,
        div.questionWrapper,
        div.instructionsWrapper,
        div.finishConditionWrapper,
        div.maxTurnsWrapper,
        div.endContainer {
            div.TextField {
                div.inputOuter {
                    div.inputWrapper {
                        input {
                            font-size: 14px;
                        }
                    }
                }
            }
        }

        // Style for introduction and end containers
        div.introductionContainer,
        div.endContainer {
            div.TextField {
                div.inputOuter {
                    background: #f5f5f5;
                }
            }
        }

        // Hide arrow containers if not needed
        div.stepArrowContainer,
        div.endArrowContainer {
            display: none;
        }

        // Labels styling
        span.introductionLabel,
        span.questionLabel,
        span.finishConditionLabel,
        span.maxTurnsLabel,
        span.instructionsLabel,
        span.endLabel {
            display: block;
            margin-bottom: 4px;
            font-size: 11px;
        }

        // Title container styling
        div.titleContainer {
            margin-bottom: 34px;

            div.TextField {
                .inputOuter {
                    background: #fafafa;
                    h6.title {
                        font-size: 10px;
                    }
                    .inputWrapper input {
                        padding: 7px 0px;
                        font-size: 16px;
                        margin: 0;
                        width: 100%;
                        box-sizing: border-box;
                    }
                }
            }
        }

        // Introduction container styling
        div.introductionContainer {
            margin-bottom: 29px;

            div.TextField {
                .inputWrapper input {
                    margin: 0;
                    padding: 8px 5px;
                    border-radius: 7px;
                    font-weight: 600;
                    width: 100%;
                    box-sizing: border-box;
                }
                .footer {
                    padding: 0;
                }
            }
        }

        // Step container styling
        div.stepContainer {
            position: relative;
            margin-bottom: 35px;

            h3.stepTitle {
                position: absolute;
                top: 0;
                left: 8%;
                transform: translate(-50%, -50%);
                background-color: transparent;
                padding: 0 10px;
                font-size: 15px;

                &::before {
                    content: '';
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 95%;
                    height: 3px;
                    background-color: white;
                    z-index: -1;
                }
            }

            div.stepContent {
                border: 1px solid #ccc;
                border-radius: 10px;
                padding: 8px 20px;
                margin-top: 20px;

                div.questionWrapper,
                div.finishConditionWrapper,
                div.maxTurnsWrapper {
                    margin-top: 10px;
                }

                div.questionWrapper {
                    div.TextField {
                        .inputWrapper input {
                            border-radius: 5px;
                            font-weight: 600;
                            width: 100%;
                            box-sizing: border-box;
                        }
                    }
                }

                div.instructionsWrapper {
                    margin-top: 10px;

                    span.instructionsLabel {
                        font-weight: bold;
                        display: block;
                        margin-bottom: 6px;
                        font-size: 11px;
                    }

                    div.instructions {
                        div.instructionWrapper {
                            display: flex;
                            align-items: center;
                            margin-bottom: 2px;

                            span.index {
                                display: inline-block;
                                background-color: #e2e2e2;
                                color: #fff;
                                border-radius: 5px;
                                padding: 2px 8px;
                                margin-right: 9px;
                                font-size: 13px;
                            }

                            div.TextField {
                                flex: 1;

                                .inputWrapper input {
                                    width: 100%;
                                    box-sizing: border-box;
                                }
                            }
                        }
                    }

                    div.addInstructionButtonContainer {
                        display: flex;
                        justify-content: center;
                        //justify-content: left;
                        //margin-left: 1px;
                        margin-top: 5px;

                        img.addInstructionButton {
                            cursor: pointer;
                            width: 20px;
                            height: 20px;
                        }
                    }
                }

                span.moreDetail {
                    cursor: pointer;
                    display: flex;
                    align-items: center;
                    margin-top: 13px;

                    img.moreDetailArrow {
                        transition: transform 0.3s;
                        margin-right: 5px;
                        width: 13px;
                    }

                    p.moreDetailLabel {
                        color: #525252 !important;
                        font-size: 11px;
                    }

                    &.rotated img.moreDetailArrow {
                        transform: rotate(180deg);
                        transition: transform 0.7s cubic-bezier(0.4, 0.0, 0.2, 1);
                    }
                }

                div.hiddenContent {
                    overflow: hidden;
                    max-height: 0;
                    transition: max-height 0.5s cubic-bezier(0.4, 0.0, 0.2, 1);

                    &.expanded {
                        max-height: 1000px; // Adjust as needed
                    }

                    div.finishConditionWrapper,
                    div.maxTurnsWrapper {
                        margin-top: 10px;
                    }

                    div.finishConditionWrapper {
                        span.finishConditionLabel {
                            font-weight: bold;
                            display: block;
                            margin-bottom: 6px;
                        }

                        div.TextField {
                            .inputWrapper input {
                                width: 100%;
                                box-sizing: border-box;
                            }
                        }
                    }

                    div.maxTurnsWrapper {
                        span.maxTurnsLabel {
                            font-weight: bold;
                            display: block;
                            margin-bottom: 6px;
                        }

                        div.TextField {
                            display: flex;
                            align-items: center;

                            .inputWrapper {
                                flex: 1;
                                position: relative;

                                input {
                                    width: 100%;
                                    box-sizing: border-box;
                                }

                                .incrementButton {
                                    position: absolute;
                                    right: 0;
                                    top: 50%;
                                    transform: translateY(-50%);
                                    display: flex;
                                    flex-direction: column;

                                    button {
                                        background: none;
                                        border: none;
                                        cursor: pointer;
                                        padding: 0;

                                        &:focus {
                                            outline: none;
                                        }

                                        img {
                                            width: 10px;
                                            height: 10px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        // End container styling
        div.endContainer {
            span.endLabel {
            }

            div.TextField {
                .inputWrapper input {
                    border-radius: 7px;
                    font-size: 19px;
                    font-weight: 600;
                    width: 100%;
                    box-sizing: border-box;
                }
            }
        }
    }
}

