<div id="terms" class="terms privacy">
    <div class="main">
        <h1 class="title">Conditions d'utilisation du service Quantz</h1>
<p class="introduction">Ce qui suit concerne le service "Quantz" (ci-après désigné "le Service"), et détaille ce que les utilisateurs peuvent attendre du Service, ainsi que ce que le Service attend des utilisateurs. Plus spécifiquement :</p>
<ul class="section-list">
    <li>Définition des termes</li>
    <li>Fournisseur de services</li>
    <li>Ce que les utilisateurs peuvent attendre du Service</li>
    <li>Conditions d'utilisation</li>
    <li>Exonération et garanties</li>
    <li>Mesures en cas de problèmes</li>
    <li>Résolution des conflits, loi applicable et tribunal compétent</li>
</ul>
<p class="agreement-notice">Les utilisateurs du Service, en utilisant le Service, acceptent automatiquement ces conditions. Il est donc important de comprendre le contenu de ces conditions.</p>

<h2 class="subtitle">Conditions d'utilisation</h2>
<h3 class="section-title">1 Définition des termes</h3>
<h4 clsss="clause-title">1.1 Utilisateurs professionnels et utilisateurs finaux</h4>
<p>Les personnes qui installent le Service sur leurs sites web ou autres plateformes numériques et l'utilisent en vertu d'un contrat avec le fournisseur de services sont appelées "utilisateurs professionnels".<br>
    Les personnes qui utilisent le Service via les sites web sur lesquels le Service est installé sont appelées "utilisateurs finaux".<br>
    Ensemble, les utilisateurs professionnels et les utilisateurs finaux sont désignés par le terme "utilisateurs".
</p>

<h3 class="section-title">2 Fournisseur de services</h3>
<p>Le fournisseur du Service (ci-après désigné "fournisseur de services") est la société suivante :</p>
<address>
    ThinkX Inc.<br>
    7-7-7 Tri-Seven Roppongi 8F<br>
    Roppongi, Minato, Tokyo 106-0032<br>
    Japon
</address>

<h3 class="section-title">3 Ce que les utilisateurs peuvent attendre du Service</h3>
<h4 clsss="clause-title">3.1 Vue d'ensemble du Service</h4>
<p>Le Service offre les rôles et fonctionnalités suivants aux utilisateurs :</p>
<ul>
    <li>Les utilisateurs professionnels peuvent installer un bouton Quantz sur leur site à l'endroit de leur choix en intégrant le code HTML fourni, permettant une communication vocale instantanée avec les utilisateurs finaux. Les utilisateurs finaux peuvent accéder au site où le Service est intégré, appuyer sur le bouton Quantz et poser des questions vocales pour résoudre leurs interrogations de base.</li>
    <li>Tous les modèles d'IA du Service sont hébergés sur des serveurs internes, sans utilisation d'API externes, donc les enregistrements des utilisateurs finaux et les informations commerciales ne sont pas accessibles à des serveurs externes autres que ceux du fournisseur de services.</li>
    <li>Des interfaces et systèmes de gestion des informations sont fournis aux utilisateurs professionnels pour fournir des connaissances spécifiques. Les données enregistrées sur ces systèmes sont sécurisées sur plusieurs serveurs gérés par le Service.</li>
</ul>
<h4>3.2 Modifications, améliorations et mises à jour du Service</h4>
<p>En cas de modifications majeures susceptibles d'affecter l'utilisation du Service par les utilisateurs, ou en cas de fin de fourniture du Service, les utilisateurs seront informés de manière raisonnable à l'avance. Toutefois, cette disposition ne s'applique pas en cas d'urgence nécessitant de prévenir une fraude, de répondre à des exigences légales, ou de gérer des problèmes de sécurité ou opérationnels.</p>

<h3 class="section-title">4 Conditions d'utilisation pour les utilisateurs professionnels</h3>
<h4 clsss="clause-title">4.1 Collecte et utilisation des informations commerciales</h4>
<p>Le Service peut collecter et sauvegarder des informations de base telles que le nom et l'emplacement des utilisateurs professionnels.<br>
    Les données collectées par le fournisseur de services ne seront pas publiées de manière non anonyme sans permission, mais pourraient être utilisées anonymement pour des recherches ou analyses.<br>
    En utilisant le Service, les utilisateurs acceptent à l'avance que leurs informations personnelles et autres soient collectées, sauvegardées et utilisées à certaines fins.
</p>
<h4 clsss="clause-title">4.2 Interdiction de contenu illégal ou nuisible</h4>
<p>La création des types de contenu suivants est interdite. Si un utilisateur professionnel enfreint cette interdiction, le fournisseur de services peut mettre fin à l'utilisation du Service de manière permanente, en plus de prendre des mesures légales.</p>
<ul>
    <li>Contenu visant à intimider les utilisateurs</li>
    <li>Fraude, extorsion, menaces et autres actes illégaux</li>
    <li>Contenu inapproprié pour les mineurs selon la loi</li>
    <li>Contenu violant les droits d'auteur ou autres droits de propriété intellectuelle de tiers</li>
    <li>Diffusion de fausses informations, usurpation d'identité, diffamation, harcèlement, intimidation et autres actes nuisibles à autrui</li>
    <li>En plus de ce qui précède, tout contenu visant intentionnellement à provoquer ou encourager des actes illégaux ou injustes</li>
</ul>

<h3 class="section-title">5 Conditions d'utilisation pour les utilisateurs finaux</h3>
<h4 clsss="clause-title">5.1 Consentement à la collecte et à l'utilisation des informations personnelles</h4>
<p>Le Service peut collecter des informations personnelles telles que les adresses e-mail et les profils des utilisateurs finaux, ainsi que des données vocales, et les sauvegarder sur les serveurs gérés par le fournisseur de services.<br>
    Bien que les données collectées ne soient pas publiées de manière non anonyme sans permission, elles peuvent être utilisées anonymement pour des recherches ou des analyses.<br>
    En utilisant le Service, les utilisateurs consentent à l'avance à la collecte, la sauvegarde et l'utilisation de leurs informations personnelles et autres à certaines fins.
</p>
<h4 clsss="clause-title">5.2 Interdiction d'accès autres que via les interfaces autorisées</h4>
<p>Les utilisateurs finaux peuvent utiliser le Service uniquement via les interfaces fournies par le Service, telles que le bouton Quantz installé par les utilisateurs professionnels sur leurs sites web.<br>
    Tout autre moyen d'utilisation du Service ou accès aux serveurs du fournisseur de services est considéré comme un accès non autorisé et peut entraîner une interdiction permanente d'utilisation du Service, ainsi que des mesures légales.
</p>
<h4>5.3 Interdiction des accès non autorisés</h4>
<p>Si des connexions sont établies aux serveurs du fournisseur de services à des fins non autorisées, cela est considéré comme un accès non autorisé et peut faire l'objet de poursuites légales.</p>
<ul>
    <li>Tentatives d'accéder à des informations d'autres utilisateurs</li>
    <li>Imposition d'une charge d'accès supérieure à la fréquence normale d'utilisation par les utilisateurs finaux</li>
    <li>Modification et utilisation de programmes intégrés fournis par le fournisseur de services</li>
    <li>Tentatives d'usurpation d'identité d'autres utilisateurs professionnels pour utiliser le Service</li>
    <li>Actes de spam, piratage informatique et autres atteintes aux systèmes et mesures de protection du fournisseur de services</li>
</ul>

<h3 class="section-title">6 Exonération et garanties</h3>
<h4>6.1 Exonération</h4>
<p>Le fournisseur de services s'engage à protéger les informations personnelles enregistrées sur ses serveurs contre les fuites avec toute la diligence d'un bon gestionnaire, mais en cas de fuite, le fournisseur de services ne compensera pas les désavantages subis par les utilisateurs à cause de cette fuite.</p>
<p>Veuillez noter que le Service peut être temporairement indisponible ou réduit en performance en raison de l'environnement de communication ou d'autres facteurs. De plus, les réponses fournies par le Service dépendent des informations sur les produits enregistrés et de l'état d'apprentissage de l'IA, et peuvent ne pas toujours être précises.<br>
    Le fournisseur de services n'offre aucune compensation pour les désavantages subis par les utilisateurs en raison de l'interruption ou de la diminution des performances du Service, ou des résultats des réponses du Service.
</p>
<h4>6.2 Garanties</h4>
<p>Le fournisseur de services ne garantit le Service (y compris le contenu du Service, ses fonctionnalités, sa fiabilité, sa disponibilité, ou sa capacité à répondre aux demandes des utilisateurs) que dans la mesure décrite dans les conditions d'utilisation liant les utilisateurs et les entreprises, ou comme stipulé par les lois qui prévalent sur ces conditions.<br>
    Sauf obligation légale, le Service ne garantit pas la commercialité, l'adéquation à un usage particulier, ni l'absence de violation des droits.
</p>

<h3 class="section-title">7 Mesures en cas de problèmes</h3>
<h4>7.1 Suppression de contenu</h4>
<p>Le fournisseur de services a le droit de supprimer tout ou partie du contenu des utilisateurs professionnels si ce contenu viole les conditions d'utilisation ou les termes contractuels relatifs au Service, enfreint la loi applicable, ou est jugé raisonnablement susceptible de causer un dommage au fournisseur de services, à des tiers, ou à d'autres utilisateurs. Cela inclut, par exemple, des contenus promouvant la pornographie enfantine, la traite des êtres humains, ou le harcèlement, des contenus liés au terrorisme, et des contenus violant les droits de propriété intellectuelle d'autrui.</p>
<h4>7.2 Suspension ou interruption temporaire du Service</h4>
<p>Le fournisseur de services peut suspendre temporairement ou de manière permanente l'utilisation du Service par les utilisateurs dans les cas suivants :</p>
<ul>
    <li>Si un utilisateur viole de manière significative ou répétée les conditions d'utilisation ou les termes contractuels relatifs au Service (y compris les cas où la suppression de contenu s'applique).</li>
    <li>Si le fournisseur de services est contraint de suspendre l'utilisation du Service par un utilisateur en raison de prescriptions légales ou d'ordres judiciaires.</li>
    <li>Si les actions d'un utilisateur (fuites d'informations confidentielles, fourniture de fausses informations, harcèlement, activités de spam, duplication ou modification non autorisée de contenu) sont raisonnablement jugées par le fournisseur de services susceptibles de causer un dommage à des utilisateurs spécifiques, au Service lui-même, ou de générer une responsabilité légale.</li>
</ul>

<h3 class="section-title">8 Accord de Licence Communautaire Meta Llama 3</h3>
<p>Notre service utilise la technologie basée sur le modèle Meta Llama 3, qui est couverte par l'Accord de Licence Communautaire Meta Llama 3. En utilisant notre service, vous reconnaissez et acceptez de vous conformer à tous les termes et conditions de l'Accord de Licence Communautaire Meta Llama 3, qui sont incorporés ici par référence.</p>
<p>Le texte complet de l'Accord de Licence Communautaire Meta Llama 3 peut être trouvé <a href="https://quantz.thinkxinc.com/llama3_agreement">ici</a>.</p>
<p>Veuillez noter que notre utilisation de la technologie Meta Llama 3 nécessite l'inclusion de l'avis suivant : "Ce produit inclut la technologie de Meta Llama 3, qui est licenciée sous l'Accord de Licence Communautaire Meta Llama 3. Copyright © Meta Platforms, Inc. Tous droits réservés."</p>

<h3 class="section-title">9 Résolution des conflits, loi applicable et juridiction</h3>
<p>Les conflits découlant de ou liés à l'utilisation du Service seront régis par les lois du Japon. De plus, ces conflits seront résolus exclusivement dans le Tribunal de simple plaidoyer de Tokyo ou le Tribunal de district de Tokyo, selon le montant de la réclamation.</p>
<p>En fonction des lois locales applicables, si ces conflits ne peuvent être résolus dans le Tribunal de simple plaidoyer de Tokyo ou le Tribunal de district de Tokyo, les utilisateurs peuvent porter les conflits devant les tribunaux de leur lieu de résidence ou de domicile. De même, dans la mesure où les lois locales applicables aux agents de vente ou aux utilisateurs ne permettent pas l'application du droit japonais pour résoudre ces conflits, ces derniers seront régis par les lois locales du pays, de l'État, ou de la localité où résident ou sont situés les agents de vente ou les utilisateurs.</p>

</div>
</div>