<div id="terms" class="terms privacy">
    <div class="main">
<h1 class="title">Условия использования сервиса Quantz</h1>
<p class="introduction">Ниже приведено описание сервиса "Quantz" (далее "Сервис"), включая то, что пользователи могут ожидать от использования Сервиса, а также ожидания Сервиса от пользователей. Более конкретно:</p>
<ul class="section-list">
    <li>Определения терминов</li>
    <li>Поставщик услуг</li>
    <li>Чего пользователи могут ожидать от Сервиса</li>
    <li>Условия использования</li>
    <li>Отказ от ответственности и гарантии</li>
    <li>Меры в случае возникновения проблем</li>
    <li>Разрешение споров, применимое право и судебная юрисдикция</li>
</ul>
<p class="agreement-notice">Пользователи Сервиса, используя Сервис, соглашаются с настоящими условиями. Поэтому важно понимать содержание этих условий.</p>

<h2 class="subtitle">Условия использования</h2>
<h3 class="section-title">1 Определения терминов</h3>
<h4 clsss="clause-title">1.1 Бизнес-пользователи и конечные пользователи</h4>
<p>Лица, устанавливающие Сервис на своих сайтах в соответствии с договором с поставщиком услуг и использующие его, называются "бизнес-пользователями".<br>
    Лица, использующие Сервис через установленные на сайтах Сервисы, называются "конечными пользователями".<br>
    Вместе бизнес-пользователи и конечные пользователи называются "пользователями".
</p>

<h3 class="section-title">2 Поставщик услуг</h3>
<p>Поставщиком Сервиса (далее "Поставщик услуг") является следующая организация:</p>
<address>
    ThinkX Inc.<br>
    7-7-7 Tri-Seven Roppongi 8F<br>
    Roppongi, Minato, Tokyo 106-0032<br>
    Japan
</address>

<h3 class="section-title">3 Чего пользователи могут ожидать от Сервиса</h3>
<h4 clsss="clause-title">3.1 Обзор услуг</h4>
<p>Сервис предоставляет пользователям следующие роли и функции:</p>
<ul>
    <li>Бизнес-пользователи могут устанавливать предоставленный HTML-код на свои сайты, чтобы в любом месте сайта размещать кнопку Quantz, которая обеспечивает мгновенное голосовое общение с конечными пользователями. Конечные пользователи, посещая сайты с интегрированным Сервисом, могут задавать вопросы голосом, нажимая на кнопку Quantz, что помогает им решать базовые вопросы.</li>
    <li>В Сервисе все модели ИИ находятся внутри серверов, и не используются внешние API, так что записи и бизнес-информация конечных пользователей не хранятся на внешних серверах, доступных сторонним организациям.</li>
    <li>Бизнес-пользователям предоставляется пользовательский интерфейс и система для регистрации и управления информацией, предоставляющей индивидуальные знания. Данные, сохраненные в этой системе, надежно хранятся на нескольких серверах, управляемых Сервисом.</li>
</ul>
<h4>3.2 Изменения, улучшения и обновления услуг</h4>
<p>Если предстоят значительные изменения, влияющие на использование Сервиса пользователями, или прекращение предоставления услуг, Сервис предоставит пользователям разумное предварительное уведомление. Однако исключения могут быть сделаны в случаях необходимости предотвращения мошенничества, соблюдения юридических требований, решения проблем безопасности или операционных проблем.</p>

<h3 class="section-title">4 Условия использования для бизнес-пользователей</h3>
<h4 clsss="clause-title">4.1 Сбор и использование информации о бизнесе</h4>
<p>Сервис может собирать и сохранять базовую информацию, такую как название и местоположение бизнес-пользователей.<br>
    Собранные данные не публикуются поставщиком услуг анонимно без разрешения пользователей, но могут использоваться для исследований и анализов.<br>
    При использовании Сервиса пользователи должны заранее согласиться на сбор, сохранение и использование их личных данных и другой информации для определенных целей.
</p>
<h4 clsss="clause-title">4.2 Запрет на незаконный или вредный контент</h4>
<p>Создание контента, указанного ниже, запрещено. Если бизнес-пользователи нарушают это положение, поставщик услуг может навсегда прекратить их использование Сервиса и принять юридические меры.</p>
<ul>
    <li>Контент, вызывающий страх у пользователей</li>
    <li>Мошенничество, вымогательство, угрозы и другие действия, запрещенные законом</li>
    <li>Контент, юридически неприемлемый для несовершеннолетних</li>
    <li>Контент, нарушающий авторские права или другие интеллектуальные права третьих лиц</li>
    <li>Предоставление ложной информации, незаконное выдача себя за другое лицо, клевета, издевательства, преследование и другие вредные действия</li>
    <li>Иные действия, преднамеренно вызывающие или поощряющие незаконные или неправомерные действия</li>
</ul>

<h3 class="section-title">5 Условия использования для конечных пользователей</h3>
<h4 clsss="clause-title">5.1 Согласие на сбор и использование личной информации</h4>
<p>Сервис может собирать личную информацию, такую как адреса электронной почты и профили конечных пользователей, а также аудиоданные, и сохранять эти данные на серверах, управляемых поставщиком услуг.<br>
    Собранные данные не публикуются поставщиком услуг анонимно без разрешения пользователей, но могут использоваться для исследований и анализов.<br>
    При использовании Сервиса пользователи должны заранее согласиться на сбор, сохранение и использование их личных данных и другой информации для определенных целей.
</p>
<h4 clsss="clause-title">5.2 Запрет на доступ, не предусмотренный интерфейсами</h4>
<p>Конечные пользователи могут использовать Сервис только через кнопку Quantz, установленную на сайте бизнес-пользователей.<br>
    Любой другой способ использования Сервиса или доступ к серверам поставщика услуг считается неправомерным доступом и может привести к постоянному прекращению использования Сервиса и юридическим мерам.
</p>
<h4>5.3 Запрет на неправомерный доступ</h4>
<p>Если подключение к серверам поставщика услуг осуществляется с целями, перечисленными ниже, оно считается неправомерным доступом и подлежит юридическому преследованию.</p>
<ul>
    <li>Попытки получения информации других пользователей</li>
    <li>Создание нагрузки на серверы, превышающей нормальное использование конечными пользователями</li>
    <li>Изменение и использование встроенного программного обеспечения, предоставленного поставщиком услуг</li>
    <li>Попытки использовать Сервис, выдавая себя за другого бизнес-пользователя</li>
    <li>Спам, хакинг и другие действия, направленные против системы или защитных мер поставщика услуг</li>
</ul>

<h3 class="section-title">6 Отказ от ответственности и гарантии</h3>
<h4>6.1 Отказ от ответственности</h4>
<p>Поставщик услуг прилагает все усилия, как добросовестный управляющий, чтобы предотвратить утечку данных, однако в случае их утечки поставщик услуг не компенсирует возможные убытки пользователей.</p>
<p>Пожалуйста, примите во внимание, что из-за проблем с коммуникационной средой или других причин Сервис может временно прекращать работу или снижать производительность.<br>
    Кроме того, ответы Сервиса зависят от зарегистрированной информации о продуктах и состояния обучения ИИ, поэтому они не всегда могут быть точными.<br>
    За ущерб, возникший в результате остановки работы Сервиса, снижения его производительности или результатов ответов Сервиса, компенсация не предусмотрена.
</p>
<h4>6.2 Гарантии</h4>
<p>Поставщик услуг гарантирует только то, что описано в условиях использования Сервиса или в законах, имеющих приоритет перед этими условиями. Все остальное не гарантируется.</p>
<p>За исключением случаев, предусмотренных законом, поставщик услуг не предоставляет гарантий на товарный вид, соответствие определенным целям и отсутствие нарушений прав.</p>

<h3 class="section-title">7 Меры в случае возникновения проблем</h3>
<h4>7.1 Удаление контента</h4>
<p>Если поставщик услуг разумно полагает, что контент бизнес-пользователя (зарегистрированная в UI информация и т.д.) нарушает условия настоящего соглашения или действующее законодательство, или может нанести ущерб поставщику услуг, третьим лицам или другим пользователям, поставщик имеет право удалить этот контент полностью или частично. Примеры включают контент, способствующий детской порнографии, торговле людьми или преследованию, контент, связанный с терроризмом, а также контент, нарушающий интеллектуальные права других лиц.</p>
<h4>7.2 Приостановка или временное прекращение предоставления услуг</h4>
<p>Поставщик услуг может временно или навсегда приостановить предоставление услуг пользователю в следующих случаях:</p>
<ul>
    <li>Если пользователь значительно или многократно нарушает настоящие условия или другие условия, связанные с использованием Сервиса (включая случаи, описанные в пункте "7.1 Удаление контента").</li>
    <li>Если поставщик услуг вынужден приостановить использование Сервиса пользователем в соответствии с юридическими требованиями или судебным решением.</li>
    <li>Если действия пользователя (утечка конфиденциальной информации, предоставление ложных сведений, преследование, спам, незаконное копирование или изменение контента) могут нанести ущерб определенным пользователям или самому Сервису или привести к юридической ответственности.</li>
</ul>

<h3 class="section-title">8 Соглашение о Коммьюнити-Лицензии Meta Llama 3</h3>
<p>Наш сервис использует технологию, основанную на модели Meta Llama 3, которая лицензирована согласно Соглашению о Коммьюнити-Лицензии Meta Llama 3. Используя наш сервис, вы подтверждаете и соглашаетесь соблюдать все условия Соглашения о Коммьюнити-Лицензии Meta Llama 3, которые включены сюда посредством ссылки.</p>
<p>Полный текст Соглашения о Коммьюнити-Лицензии Meta Llama 3 можно найти <a href="https://quantz.thinkxinc.com/llama3_agreement">здесь</a>.</p>
<p>Обратите внимание, что использование технологии Meta Llama 3 требует включения следующего уведомления: «Этот продукт включает технологию Meta Llama 3, которая лицензирована по Соглашению о Коммьюнити-Лицензии Meta Llama 3. Авторское право © Meta Platforms, Inc. Все права защищены.»</p>

<h3 class="section-title">9 Разрешение споров, применимое право и юрисдикция</h3>
<p>Споры, возникающие из использования Сервиса или связанные с ним, будут регулироваться законами Японии. Кроме того, такие споры будут разрешаться исключительно в Токийском суммарном суде или Токийском окружном суде в зависимости от суммы иска.</p>
<p>В соответствии с применимым местным законодательством, если эти споры не могут быть разрешены в указанных судах, пользователи могут подать иск в суды по месту своего жительства или нахождения. Аналогично, если местное законодательство не позволяет применение японского законодательства для разрешения этих споров, они будут регулироваться местными законами страны, штата или другой юрисдикции, где находятся агенты или пользователи.</p>

</div>
</div>