{%extends "general/base.html" %}

{% block head %}
<link rel=stylesheet href=/css/main.css>
<script src="/js/simplicity/dist/simplicity.js"></script>
{% endblock %}

{% block content %}
{% include 'common/header.html' %}


<div id="terms" class="terms privacy">
    <div class="main">

<h1 class="title">Términos y Condiciones del Servicio de Quantz</h1>
<p class="introduction">A continuación, se presenta información sobre “Quantz” (en adelante, "el Servicio"), lo que los usuarios pueden esperar del Servicio y lo que el Servicio espera de los usuarios. En detalle, se incluye:</p>
<ul class="section-list">
    <li>Definición de términos</li>
    <li>Proveedor del servicio</li>
    <li>Lo que los usuarios pueden esperar del servicio</li>
    <li>Condiciones de uso</li>
    <li>Exenciones y garantías</li>
    <li>Medidas en caso de problemas</li>
    <li>Resolución de disputas, ley aplicable y jurisdicción competente</li>
</ul>
<p class="agreement-notice">Los usuarios del Servicio, al utilizarlo, aceptan estos términos y condiciones, por lo que es importante entender su contenido.</p>

<h2 class="subtitle">Términos y Condiciones</h2>
<h3 class="section-title">1 Definición de términos</h3>
<h4 class="clause-title">1.1 Usuarios empresariales y usuarios finales</h4>
<p>Los que instalan el Servicio en sus sitios web u otros medios y lo utilizan bajo un contrato con el proveedor del servicio se denominan “usuarios empresariales”.<br>
   Los que utilizan el Servicio a través de los sitios web donde está instalado se denominan “usuarios finales”.<br>
   Conjuntamente, a todos ellos se les denomina “usuarios”.
</p>

<h3 class="section-title">2 Proveedor del servicio</h3>
<p>El proveedor del Servicio (en adelante, "Proveedor del Servicio") es la siguiente entidad:</p>
<address>
    ThinkX Inc.<br>
    7-7-7 Tri-Seven Roppongi 8F<br>
    Roppongi, Minato, Tokyo 106-0032<br>
    Japón
</address>

<h3 class="section-title">3 Lo que los usuarios pueden esperar del servicio</h3>
<h4 class="clause-title">3.1 Descripción del servicio</h4>
<p>El Servicio ofrece las siguientes funciones y roles a los usuarios:</p>
<ul>
    <li>Los usuarios empresariales pueden instalar un botón Quantz en sus sitios para proporcionar comunicación instantánea de voz con los usuarios finales. Los usuarios finales pueden resolver consultas básicas haciendo preguntas por voz mientras presionan el botón Quantz en el sitio donde está integrado el Servicio.</li>
    <li>Como todos los modelos de IA están alojados en servidores internos y no se utiliza ninguna API externa, ningún registro de los usuarios finales o información comercial es accesible por terceros fuera del Proveedor del Servicio.</li>
    <li>Se proporciona a los usuarios empresariales una interfaz y un sistema para registrar y gestionar la información que suministra conocimiento específico. Los datos almacenados en este sistema se guardan de manera segura en múltiples servidores gestionados por el Servicio.</li>
</ul>
<h4>3.2 Cambios, mejoras y actualizaciones del servicio</h4>
<p>Cuando se realicen cambios significativos que puedan afectar adversamente el uso del Servicio por parte de los usuarios, o cuando se finalice la provisión del Servicio, se notificará razonablemente a los usuarios con antelación. Sin embargo, esto no se aplica en casos de emergencia tales como la prevención de fraudes, cumplimiento de requisitos legales, o problemas operativos o de seguridad.</p>

<h3 class="section-title">4 Condiciones de uso para usuarios empresariales</h3>
<h4 class="clause-title">4.1 Consentimiento para la recopilación y uso de información empresarial</h4>
<p>El Servicio puede recopilar y almacenar información básica como el nombre y la ubicación de los usuarios empresariales.<br>
    Los datos recopilados por el Proveedor del Servicio no serán publicados de forma no anónima sin permiso, pero podrían ser utilizados de forma anónima para investigación o análisis.<br>
    Al utilizar el Servicio, los usuarios deben dar su consentimiento previo para que sus datos personales y otros sean recopilados, almacenados y utilizados para ciertos fines.
</p>
<h4 class="clause-title">4.2 Prohibición de contenido ilegal o dañino</h4>
<p>Se prohíbe la creación de contenido que forma parte de las siguientes actividades, que son ilegales o consideradas perjudiciales. En caso de violación, el Proveedor del Servicio puede suspender permanentemente el uso del Servicio por parte del usuario empresarial y tomar medidas legales.</p>
<ul>
    <li>Contenido que intimida a los usuarios</li>
    <li>Fraude, extorsión, amenazas u otras actividades prohibidas por la ley</li>
    <li>Contenido inapropiado legalmente para menores</li>
    <li>Contenido que infringe los derechos de autor u otros derechos de propiedad intelectual de terceros</li>
    <li>Proporcionar información falsa, usurpación de identidad, difamación, acoso, intimidación, acecho y otras acciones que causen daño a otros</li>
    <li>Cualquier otro contenido que intencionalmente cause o promueva actividades ilegales o inapropiadas</li>
</ul>

<h3 class="section-title">5 Condiciones de uso para usuarios finales</h3>
<h4 class="clause-title">5.1 Consentimiento para la recopilación y uso de información personal</h4>
<p>El Servicio puede recoger y almacenar información personal como direcciones de correo electrónico y perfiles de los usuarios finales, así como datos de voz de los usuarios finales, en servidores gestionados por el Proveedor del Servicio.<br>
    Los datos recogidos por el Proveedor del Servicio no serán publicados de forma no anónima sin permiso, pero podrían ser utilizados de forma anónima para investigación o análisis.<br>
    Al utilizar el Servicio, los usuarios deben dar su consentimiento previo para que sus datos personales y otros sean recopilados, almacenados y utilizados para ciertos fines.
</p>
<h4 class="clause-title">5.2 Prohibición de acceso a través de interfaces no autorizadas</h4>
<p>Los usuarios finales pueden utilizar el Servicio únicamente a través del botón Quantz instalado por un usuario empresarial en un sitio web.<br>
    Cualquier otro método de uso del Servicio o acceso a los servidores del Proveedor del Servicio será considerado un acceso no autorizado y puede resultar en la suspensión permanente del uso del Servicio y en medidas legales.
</p>
<h4>5.3 Prohibición de acceso no autorizado</h4>
<p>Si se conecta a los servidores del Proveedor del Servicio con los siguientes fines, será considerado un acceso no autorizado y sujeto a medidas legales:</p>
<ul>
    <li>Intentar obtener información de otros usuarios</li>
    <li>Generar una carga de acceso que exceda la frecuencia de uso normal</li>
    <li>Modificar o utilizar indebidamente los programas incrustados proporcionados por el Proveedor del Servicio</li>
    <li>Usurpar la identidad de otro usuario empresarial para utilizar el Servicio</li>
    <li>Realizar actos de spam, hacking u otras actividades que puedan dañar los sistemas de protección del Proveedor del Servicio</li>
</ul>

<h3 class="section-title">6 Exenciones y garantías</h3>
<h4>6.1 Exención de responsabilidad</h4>
<p>El Proveedor del Servicio ejercerá el deber de cuidado de un buen gestor para prevenir la filtración de información personal registrada en sus servidores, pero en caso de filtración, el Proveedor del Servicio no compensará los daños sufridos por los usuarios.</p>
<p>Por favor, comprenda que el Servicio puede suspenderse temporalmente o su rendimiento puede disminuir debido al entorno de comunicación u otras causas.<br>
    Además, las respuestas del Servicio, que dependen de la información del producto registrado y del estado de aprendizaje de la IA, pueden no ser siempre precisas.<br>
    El Servicio no compensa a los usuarios por las desventajas sufridas debido a la suspensión o disminución del rendimiento del Servicio, o los resultados de las respuestas del Servicio.
</p>
<h4>6.2 Garantías</h4>
<p>El Proveedor del Servicio sólo garantiza el Servicio (incluyendo el contenido del servicio, sus funciones, su fiabilidad, disponibilidad o capacidad para cumplir con las demandas de los usuarios) en la medida establecida en los términos y condiciones del servicio o la ley aplicable con prioridad sobre estos términos.<br>
    Salvo en los casos en que la ley lo requiera, el Servicio no ofrece garantías implícitas de comerciabilidad, adecuación a un propósito particular, o ausencia de infracción de derechos.
</p>

<h3 class="section-title">7 Medidas en caso de problemas</h3>
<h4>7.1 Eliminación de contenido</h4>
<p>Si el contenido de un usuario empresarial viola estos términos y condiciones o cualquier cláusula contractual relativa al Servicio, o las leyes aplicables, o si razonablemente se puede creer que podría dañar al Proveedor del Servicio, a terceros o a otros usuarios, el Proveedor del Servicio tiene la autoridad para eliminar todo o parte de dicho contenido. Ejemplos incluyen contenidos que promueven la pornografía infantil, la trata de personas o el acoso, contenidos relacionados con el terrorismo y contenidos que infringen los derechos de propiedad intelectual de terceros.</p>
<h4>7.2 Suspensión o interrupción temporal del servicio</h4>
<p>El Proveedor del Servicio puede suspender temporal o permanentemente el uso del Servicio por un usuario en los siguientes casos:</p>
<ul>
    <li>Si un usuario viola estos términos y condiciones o cualquier otra cláusula contractual relacionada con el Servicio de manera significativa o reiterada (incluidos los casos aplicables de "7.1 Eliminación de contenido").</li>
    <li>Si el Proveedor del Servicio se ve obligado a suspender el uso del Servicio por un usuario debido a requerimientos legales o órdenes judiciales.</li>
    <li>Si se considera razonablemente que las acciones de un usuario (como la filtración de información confidencial, la provisión de información falsa, el acoso, las actividades de spam, la copia o modificación no autorizada de contenidos) han dañado a un usuario específico o al Servicio en sí, o han generado responsabilidad legal.</li>
</ul>

<h3 class="section-title">8 Resolución de disputas, ley aplicable y jurisdicción competente</h3>
<p>Las disputas que surjan o estén relacionadas con el Servicio se regirán por las leyes de Japón. Además, dichas disputas se resolverán exclusivamente en los Tribunales de Distrito de Tokio o en los Tribunales de Distrito Sumario de Tokio, según el monto en disputa.</p>
<p>En la medida en que las leyes locales aplicables lo permitan, las disputas que no puedan resolverse en los Tribunales de Distrito de Tokio o en los Tribunales de Distrito Sumario de Tokio pueden llevarse a los tribunales del lugar de residencia o domicilio del usuario. De manera similar, en la medida en que las leyes locales aplicables lo permitan, las disputas se regirán por las leyes locales aplicables en el país, estado, o lugar de residencia o domicilio del agente comercial o del usuario.</p>

</div>
</div>

{% include 'common/footer.html' %}
{% endblock %}

{% block foot %}
{% endblock %}