<div id="terms" class="terms privacy">
    <div class="main">

<h1 class="title">Quantz服务使用条款</h1>
<p class="introduction">以下是关于“Quantz”服务（以下简称“本服务”）的详细介绍，包括用户在使用本服务时可以期待的内容以及本服务对用户的期望。</p>
<ul class="section-list">
    <li>术语定义</li>
    <li>服务提供者</li>
    <li>用户可以期待的服务内容</li>
    <li>使用条件</li>
    <li>免责声明和保证</li>
    <li>问题发生时的处理措施</li>
    <li>争议解决、适用法律及管辖法院</li>
</ul>
<p class="agreement-notice">通过使用本服务，用户将同意这些条款。因此，理解这些条款的内容非常重要。</p>

<h2 class="subtitle">使用条款</h2>
<h3 class="section-title">1 术语定义</h3>
<h4 class="clause-title">1.1 商业用户和终端用户</h4>
<p>与服务提供者签约并在网站等平台上安装并使用本服务的人称为“商业用户”。<br>
    通过已安装本服务的网站使用本服务的人称为“终端用户”。<br>
    统称商业用户和终端用户为“用户”。
</p>

<h3 class="section-title">2 服务提供者</h3>
<p>本服务的提供者（以下简称“服务提供者”）为以下实体：</p>
<address>
    ThinkX Inc.<br>
    7-7-7 Tri-Seven Roppongi 8F<br>
    Roppongi, Minato, Tokyo 106-0032<br>
    Japan
</address>

<h3 class="section-title">3 用户可以期待的服务</h3>
<h4 class="clause-title">3.1 服务概览</h4>
<p>本服务为用户提供以下角色和功能：</p>
<ul>
    <li>商业用户可以将提供的HTML代码嵌入其网站中，在网站的任意位置安装Quantz按钮，以便与终端用户进行即时语音通讯。终端用户可以访问集成了本服务的网站，并通过按下Quantz按钮进行语音提问，从而解决基本问题。</li>
    <li>本服务内的所有AI模型均托管在内部，不使用外部API，因此与终端用户共享的记录和商业信息不会被存储在第三方可访问的外部服务器上。</li>
    <li>为商业用户提供用户界面和系统，以注册和管理提供个性化知识的信息。这些系统中存储的数据将安全保存在本服务管理的多个服务器上。</li>
</ul>
<h4>3.2 服务的变更、改进及更新</h4>
<p>如果进行可能影响用户体验的重大变更或终止服务，本服务将向用户提供合理的预先通知。但是，紧急情况下，如为了防止欺诈、满足法律要求或处理安全或运营问题，除外。</p>

<h3 class="section-title">4 商业用户的使用条件</h3>
<h4 class="clause-title">4.1 收集及使用商业信息的同意</h4>
<p>本服务可能会收集和存储商业用户的名称和位置等基本信息。<br>
    服务提供者收集的数据未经用户同意不会非匿名公开，但可能会用于研究或分析。<br>
    用户在使用本服务时，必须预先同意其个人信息等被收集、存储及出于特定目的使用。
</p>
<h4 class="clause-title">4.2 禁止非法或有害内容</h4>
<p>禁止创建以下类型的内容。如果商业用户违反这些禁令，服务提供者可能会永久停止其服务的使用并采取法律行动：</p>
<ul>
    <li>使用户感到恐惧的内容</li>
    <li>诈骗、勒索、威胁或其他非法活动的内容</li>
    <li>根据适用法律对未成年人不适当的内容</li>
    <li>侵犯他人知识产权的内容</li>
    <li>提供虚偽信息、冒充他人、诽谤、欺凌、骚扰、跟踪或其他有害行为</li>
    <li>除上述内容外，任何故意引起或促进非法或不公平行为的内容</li>
</ul>

<h3 class="section-title">5 终端用户的使用条件</h3>
<h4 class="clause-title">5.1 收集及使用个人信息的同意</h4>
<p>本服务可能会收集终端用户的电子邮件地址、个人资料等个人信息以及语音数据，并将其存储在服务提供者管理的服务器上。<br>
    服务提供者收集的数据未经用户同意不会非匿名公开，但可能会用于研究或分析。<br>
    用户在使用本服务时，必须预先同意其个人信息等被收集、存储及出于特定目的使用。
</p>
<h4 class="clause-title">5.2 禁止通过未授权接口的访问</h4>
<p>终端用户只能通过商业用户在其网站上安装的Quantz按钮使用本服务。<br>
    通过其他方式使用本服务或访问服务提供者的服务器将被视为非法访问，并可能导致永久停止使用本服务及法律责任。
</p>
<h4>5.3 禁止非法访问</h4>
<p>如果出于以下目的之一连接到服务提供者设置的服务器，则将被视为非法访问，并可能受到法律制裁：</p>
<ul>
    <li>试图获取其他用户的信息</li>
    <li>给予超过终端用户正常使用频率的访问负荷</li>
    <li>修改并使用服务提供者提供的嵌入式程序</li>
    <li>冒充其他商业用户使用服务</li>
    <li>对服务提供者的系统或安全措施进行垃圾邮件、黑客攻击等行为</li>
</ul>

<h3 class="section-title">6 免责声明和保证</h3>
<h4>6.1 免责</h4>
<p>服务提供者将以善良管理员的注意义务努力防止通过本服务使用中记录在其管理的服务器上的用户个人信息泄露，但如果发生泄露，服务提供者不对由个人信息泄露造成的用户不利后果承担赔偿责任。</p>
<p>请理解由于通信环境或其他原因，本服务可能会暂时停止或性能下降。<br>
    此外，请理解本服务的答复基于注册的产品信息和AI的学习状况，可能不总是提供准确的信息。<br>
    对于因服务停止或性能下降以及服务答复结果给用户造成的不利影响，本服务不承担赔偿责任。
</p>
<h4>6.2 保证</h4>
<p>服务提供者对本服务（包括服务内容、功能、可靠性、可用性以及满足用户需求的能力）的承诺仅限于与用户及商业主体签订的服务使用条款中所述内容或优先适用的法律规定的内容。<br>
    除法律有明确规定外，本服务不提供商品适销性、特定用途适用性及不侵权的隐含保证。
</p>

<h3 class="section-title">7 问题发生时的措施</h3>
<h4>7.1 内容删除</h4>
<p>如果商业用户在UI上注册的内容违反了这些条款或相关合同条款、适用法律，或者合理地被认为可能对服务提供者、第三方或其他用户造成损害，服务提供者有权删除部分或全部内容。例如，促进儿童色情、人口贩卖或骚扰的内容、涉及恐怖主义的内容以及侵犯他人知识产权的内容等。</p>
<h4>7.2 服务的暂停或临时停止</h4>
<p>在以下情况下，服务提供者可能会暂时或永久停止用户对本服务的使用：</p>
<ul>
    <li>如果用户严重或反复违反这些条款或与服务相关的其他合同条款（包括适用于“7.1内容删除”的情况）。</li>
    <li>如果服务提供者根据法律要求或法院命令不得不停止用户使用本服务。</li>
    <li>如果用户的行为（如泄露机密信息、提供虚偽信息、骚扰、垃圾邮件行为、未经授权的内容复制或修改）合理地被认为已对特定用户或本服务造成损害或引发法律责任。</li>
</ul>

<h3 class="section-title">8 Meta Llama 3 社区许可协议</h3>
<p>我们的服务使用基于 Meta Llama 3 模型的技术，该技术受 Meta Llama 3 社区许可协议的保护。使用我们的服务即表示您承认并同意遵守 Meta Llama 3 社区许可协议的所有条款和条件，该协议通过引用此处纳入。</p>
<p>Meta Llama 3 社区许可协议的完整文本可在<a href="https://quantz.thinkxinc.com/llama3_agreement">这里</a>找到。</p>
<p>请注意，我们使用 Meta Llama 3 技术需要包含以下声明：“本产品包含 Meta Llama 3 的技术，该技术根据 Meta Llama 3 社区许可协议授权。版权所有 © Meta Platforms, Inc. 保留所有权利。”</p>

<h3 class="section-title">9 纠纷解决、适用法律及管辖权</h3>
<p>与本服务相关的或因本服务产生的纠纷将受日本法律管辖。此外，这些纠纷将专属地在东京简易法院或东京地方法院解决，具体取决于索赔金额。</p>
<p>根据适用的当地法律，如果这些纠纷不能在东京简易法院或东京地方法院解决，用户可以将纠纷提交到他们居住地或住所地的法院。同样，如果适用的当地法律不允许使用日本法律解决这些纠纷，这些纠纷将受到用户或销售代理所在国家、州或地区的当地法律的管辖。</p>

</div>
</div>