{%extends "general/base.html" %}

{% block head %}
<link rel=stylesheet href=/css/main.css>
<script src="/js/simplicity/dist/simplicity.js"></script>
{% endblock %}

{% block content %}
{% include 'common/header.html' %}

<div id="terms" class="terms privacy">
    <div class="main">

<h1 class="title">Quantzサービス利用規約</h1>
<p class="updated">最終更新日: 2024年6月3日</p>
<p class="introduction">以下は”Quantz”（以下「本サービス」といいます。）について、ユーザーが本サービスを利用する上で期待できること、また本サービスがユーザーに期待することを明記しています。より具体的には、</p>
<ul class="section-list">
    <li>用語の定義</li>
    <li>サービス提供者</li>
    <li>ユーザーが本サービスに期待できること</li>
    <li>利用条件</li>
    <li>免責と保証</li>
    <li>問題が発生した場合の措置</li>
    <li>紛争の解決、準拠法及び管轄裁判所</li>
</ul>
<p class="agreement-notice">本サービスのユーザーは、本サービスを利用することにより、本規約に同意することになります。そのため、本規約の内容を理解しておくことが重要です。</p>

<h2 class="subtitle">利用規約</h2>
<h3 class="section-title">1 用語の定義</h3>
<h4 clsss="clause-title">1.1 ビジネスユーザーとエンドユーザー</h4>
<p>サービス提供者との契約に基づき本サービスをウェブサイト等に設置して本サービスを利用する者を「ビジネスユーザー」といいます。<br>
    本サービスが設置されたウェブサイトを通じて本サービスを利用する者を「エンドユーザー」といいます。<br>
    ビジネスユーザーとエンドユーザーを併せて「ユーザー」と総称します。
</p>

<h3 class="section-title">2 サービス提供者</h3>
<p>本サービスの提供者（以下「サービス提供者」といいます。）は以下の法人となります。</p>
<address>
    ThinkX Inc.<br>
    7-7-7 Tri-Seven Roppongi 8F<br>
    Roppongi, Minato, Tokyo 106-0032<br>
    Japan
</address>

<h3 class="section-title">3 ユーザーが本サービスに期待できること</h3>
<h4 clsss="clause-title">3.1 サービスの概要</h4>
<p>本サービスは以下の役割、機能をユーザーに提供します。</p>
<ul>
    <li>ビジネスユーザーは、提供されたHTMLコードを自社サイトに埋め込むことで、サイト上の任意の場所に、エンドユーザーとの即時的な音声コミュニケーションを提供するQuantzボタンを設置することができます。エンドユーザーは本サービスが組み込まれたサイトにアクセスし、Quantzボタンを押しながら音声で質問を行うことで、基本的な疑問を解決します。</li>
    <li>本サービスでは全てのAIモデルがサーバー内にあり、外部APIを使用しないため、エンドユーザーとの記録やビジネス情報がサービス提供者以外の他社がアクセスできる外部サーバーに記録されることはありません。</li>
    <li>ビジネスユーザーには個別的な知識を供給するための情報を登録・管理するためのユーザーインターフェースとシステムが提供されます。このシステムに記録されたデータは、本サービスの管理する複数のサーバーに安全に保存されます。</li>
</ul>
<h4>3.2 サービスの変更・改善・更新</h4>
<p>ユーザーの本サービスの利用に悪影響を及ぼす重大な変更を行う場合、またはサービスの提供を終了する場合、本サービスはユーザーに対して合理的な事前の通知を行います。ただし、不正行為の防止、法的要件に対応する必要がある、またはセキュリティや運営上の問題に対処する必要があるなどの緊急時は除きます。</p>

<h3 class="section-title">4 ビジネスユーザーの利用条件</h3>
<h4 clsss="clause-title">4.1 事業者情報の収集及び利用についての承諾</h4>
<p>本サービスではビジネスユーザーの名称や所在地等の基本情報を取得し保存することがあります。<br>
    サービス提供者が収集したデータをユーザーの許可なしに非匿名で公開することはありませんが、何らかの研究や分析のために匿名化されたデータを利用することがあります。<br>
    本サービスを利用するに際して、ユーザーは上記のとおり個人情報等が収集、保存され、一定の目的で利用されることについて予め承諾する必要があります。
</p>
<h4 clsss="clause-title">4.2 違法または有害なコンテンツの禁止</h4>
<p>次に例示するコンテンツの作成を禁止します。ビジネスユーザーがこの禁止事項に違反した場合、サービス提供者は永久的な本サービスの利用停止措置のほか、法的措置をとることがあります。</p>
<ul>
    <li>ユーザーを畏怖させるようなコンテンツ</li>
    <li>詐欺、恐喝、脅迫その他法律で禁止された行為の一環となるコンテンツ</li>
    <li>未成年に対し法적に不適切なコンテンツ</li>
    <li>第三者の著作権その他の知的財産権を侵害するコンテンツ</li>
    <li>虚偽情報の提供、違法ななりすまし、名誉毀損、いじめ、嫌がらせ、ストーキングなど他者に被害をもたらす行為</li>
    <li>上記に列挙したもののほか、あらゆる違法又は不当行為を意図的に引き起こし又は助長するコンテンツ</li>
</ul>

<h3 class="section-title">5 エンドユーザーの利用条件</h3>
<h4 clsss="clause-title">5.1 個人情報の収集及び利用の承諾</h4>
<p>本サービスでは、エンドユーザーのメールアドレスやプロフィール等の個人情報、エンドユーザーの音声データを収集し、サービス提供者が管理するサーバー上に保存することがあります。<br>
    サービス提供者が収集したデータをユーザーの許可なしに非匿名で公開することはありませんが、何らかの研究や分析のために匿名化されたデータを利用することがあります。<br>
    本サービスを利用するに際して、ユーザーは上記のとおり個人情報等が収集、保存され、一定の目的で利用されることについて予め承諾する必要があります。
</p>
<h4 clsss="clause-title">5.2 許可されたインターフェース以外によるアクセスの禁止</h4>
<p>エンドユーザーは、ビジネスユーザーがWebサイト上に設置したQuantzボタンを介してのみ本サービスを利用することができます。<br>
    これ以外の方法による本サービスの利用やサービス提供者のサーバーへのアクセスは、不正アクセス行為と見做され、本サービスの永久的な利用停止措置のほか、法的措置の対象となることがあります。
</p>
<h4>5.3 不正アクセス行為の禁止</h4>
<p>サービス提供者の設置するサーバーに次に例示する目的で接続を行った場合、不正アクセスと見做し、法的処置の対象とすることがあります。</p>
<ul>
    <li>他のユーザーの情報を取得しようとする行為</li>
    <li>エンドユーザーの利用頻度を超えてアクセス負荷を与える行為</li>
    <li>サービス提供者の提供する埋め込みプログラムを改変し使用する行為</li>
    <li>他のビジネスユーザーになりすましサービスを利用しようとする行為</li>
    <li>サービス提供者のシステムや保護対策に対するスパム行為、ハッキング行為等</li>
</ul>

<h3 class="section-title">6 免責と保証</h3>
<h4>6.1 免責</h4>
<p>サービス提供者は、本サービスの利用を通じてサービス提供者の管理するサーバーに記録されたユーザーの個人情報について、善良な管理者の注意義務をもって漏えい防止に努めますが、万が一漏洩した場合、サービス提供者は個人情報漏洩により生じたユーザーへの不利益の代償を支払いません。</p>
<p>通信環境その他の原因により、本サービスが一時的に停止したり性能が低下したりすることをご了承のうえ本サービスをご利用ください。<br>
    また、本サービスの回答は、登録された製品情報やAIの学習状況に依拠するため、必ずしも正確な情報を与えるものではないことをご理解ください。<br>
    本サービスの停止や性能低下、本サービスの回答結果によりユーザーに生じる不利益については、補償の限りではありません。
</p>
<h4>6.2 保証</h4>
<p>サービス提供者が、本サービス（サービス内のコンテンツ、サービスの機能、その信頼性、利用可能性、またはユーザーの要求に応える能力を含む）について約束するのは、⑴ユーザーおよび事業者と結ばれるサービス利用規約に記述されている内容、または⑵本規約に優先して適用される法律が規定する内容のみです。その他には、本サービスについていかなる約束もしません。</p>
<p>法律上の義務がある場合を除き、本サービスが商品性、特定目的に対する適合性、および権利の侵害がないことの黙示の保証を提供することはありません。</p>

<h3 class="section-title">7 問題が発生した場合の措置</h3>
<h4>7.1 コンテンツの削除</h4>
<p>サービス提供者は、ビジネスユーザーのコンテンツ（ビジネスユーザーがUI上で登録した情報等）が⑴本規約または本サービスに係る契約条項に違反している、⑵適用される法律に違反している、もしくは⑶サービス提供者、第三者または他のユーザーに損害を与える可能性があると合理的に確信できる場合、コンテンツの一部または全部を削除する権限を有します。例としては、児童ポルノ、人身売買または嫌がらせを助長するコンテンツ、テロに関するコンテンツ、及び他者の知的財産権を侵害するコンテンツ等が挙げられます。</p>
<h4>7.2 本サービスの停止または一時停止</h4>
<p>サービス提供者は、次のいずれかに該当する場合、ユーザーに対して本サービスの利用を一時または永続的に停止することがあります。</p>
<ul>
    <li>ユーザーが、本規約またはサービスに係る他の契約条項に著しくまたは繰り返し違反した場合（「7.1 コンテンツの削除」が適用される場合を含みます。）</li>
    <li>法的要件または裁判所命令に従ってサービス提供者がユーザーによる本サービスの利用停止を余儀なくされた場合。</li>
    <li>ユーザーの行動（秘密情報の漏洩、虚偽情報の提供、嫌がらせ、スパム行為、コンテンツの無断複製や改変）が、特定の利用者、もしくは本サービスに損害を与えた、または法的責任を発生させたとサービス提供者が合理的に確信できる場合。</li>
</ul>

<h3 class="section-title">8 紛争の解決、準拠法、および管轄裁判所</h3>
<p>本サービスに起因または関連して生じた紛争については、日本国法が適用されるものとします。また、紛争は、その訴額に応じて、東京簡易裁判所または東京地方裁判所のみを第一審の専属的合意管轄裁判所として解決できるものとします。</p>
<p>適用される現地の法律により、これらの紛争を東京簡易裁判所または東京地方裁判所において解決できない範囲で、ユーザーの所在地または居住地域の裁判所に当該紛争を申し立てることができます。同様に適用される現地の法律により、営業代理店または利用者の所在地または居住地域の裁判所においてこれらの紛争の解決に日本国法を適用できない範囲で、当該紛争は営業代理店または利用者の国、州、またはその他所在地または居住地域に適用される現地の法律に準拠するものとします。</p>


</div>
</div>
{% include 'common/footer.html' %}
{% endblock %}

{% block foot %}
{% endblock %}