{% extends "general/common.html" %}
{% block content %}
{% include 'common/studio_header.html' %}
<div id="MainContainer">
    {% include 'common/vertical_header.html' %}
    {#{% include 'common/vertical_menu.html' %}#}
    <section id="MainContent" class="DeployViewMainContent">
    </section>
</div>
<script src="https://quantz.thinkxinc.com/js/dist/quantz-button-v9-dev.js"></script>

<script src=/js/view_components/studio_header.js></script>

<script src=/js/view_controllers/root_view_controller.js></script>
<script src=/js/view_controllers/deploy_view_controller.js></script>
<script src=/js/view_controllers/create_view_controller.js></script>
<script src=/js/view_controllers/materials_view_controller.js></script>

<script src=/js/view_components/customize_view.js></script>
<script>
{
    const lang = "{{ lang }}"
    const langName = "{{ lang_name }}"

    const freeCall = "{{ free_call }}"
    const unitPrice = "{{ unit_price }}"

    const localeDict = {{ locale_json | safe }};
    if (!localeDict) {
        console.error('locale_json not received.');
    }
    const locale = new Locale(localeDict);

    console.log(locale);

    // country data (names, numerics, dials, codes) 
    // const countries = new Country().countriesFormData(lang);
    // console.log(countries);

    window.locale = locale;
    window.lang = lang;
    window.langName = langName;

    window.freeCall = freeCall;
    window.unitPrice = unitPrice;
}
</script>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        const lang = window.lang;
        const locale = window.locale;

        new StudioHeader({
            id: 'StudioHeader',
            locale: locale,
            lang: lang,
        })

        console.log(`set up create view.\nlang:${lang}`);

        // Create RootViewController, which decides which screen to show
        new RootViewController({
            id: 'RootViewController',
            locale: locale,
            lang: lang
        });

        const SMARTPHONE_WIDTH = 480;

        if (window.innerWidth <= SMARTPHONE_WIDTH) { // Check if the screen size is within the mobile range
        }
    });
</script>
{% endblock %}