.QBTN-button-loader {
  position: relative;
  width: max-content;
} 

.QBTN-button-container.QBTN-TYPE-A {
  position: relative;
  display: flex;
  justify-content: center; /* Center children horizontally */
  flex-direction: column;
  align-items: center; /* Align children vertically */
  width: 100%;
  -webkit-font-smoothing: antialiased;
}

.QBTN-button-container.QBTN-TYPE-A .QBTN-button {
  width: 144px;
  height: 144px;
  background-image: url('https://quantz.thinkxinc.com/img/quantz_button/base_plane.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

/* indicator */

.QBTN-button-container.QBTN-TYPE-A .QBTN-indicator {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.QBTN-button-container.QBTN-TYPE-A .QBTN-indicator::before {
  /* Styles for indicator lines - Dynamic content to be generated in JS */
  content: '';
}

.QBTN-button-container.QBTN-TYPE-A .QBTN-dial {
  position: absolute;
  background-color: #2F7A7C;
  border-radius: 1px; /* For rounded corners */
}

.QBTN-button-container.QBTN-TYPE-A .QBTN-glowlight {
  opacity: 0;
  width: 104px;
  height: 104px;
}

.QBTN-button-container.QBTN-TYPE-A .QBTN-icon-wrapper {
  position: absolute;
  width: 100%; /* Match the button size */
  height: 100%; /* Match the button size */
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.QBTN-button-container.QBTN-TYPE-A .QBTN-icon-wrapper img {
  width: 45px ; /* @ */
  height: 45px ; /* @ */
}

.QBTN-button-container.QBTN-TYPE-A .QBTN-button-icon {
}

@keyframes rotate-svg {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.QBTN-button-container.QBTN-TYPE-A .QBTN-rotating-svg {
  animation: rotate-svg 2.5s linear infinite;
}


/* button-control */

.QBTN-button-container.QBTN-TYPE-A .QBTN-button-control {
  width: 300px;
  position: relative;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.QBTN-button-container.QBTN-TYPE-A .QBTN-spacer {
  width: 50px; /* must be same with locale width */
  flex-shrink: 0;
  visibility: hidden;
}

.QBTN-button-container.QBTN-TYPE-A .QBTN-button-text-container {
  display: flex;
  align-items: center;
  justify-content: center; /* Centering text and sign within the container */
}

.QBTN-button-container.QBTN-TYPE-A .QBTN-sign {
  height: 6px;
  width: 6px;
  margin-right: 5px;
  position: relative; /* further left */
  border-radius: 50%;
  background-color: transparent; /* Will change based on the sign status */
}

.QBTN-button-container.QBTN-TYPE-A .QBTN-sign.QBTN-standby {
  background-color: #007df3;
}
.QBTN-button-container.QBTN-TYPE-A .QBTN-sign.QBTN-busy {
  background-color: #c7c94c;
}
.QBTN-button-container.QBTN-TYPE-A .QBTN-sign.QBTN-active {
  background-color: #00b1b6;
}
.QBTN-button-container.QBTN-TYPE-A .QBTN-sign.QBTN-error {
  background-color: #9e3c49;
}

.QBTN-button-container.QBTN-TYPE-A .QBTN-button-text {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Helvetica', 'san-serif';
  font-size: 0.9em;
  height: 24px;
  width: auto;
  text-align: center;
  color: #888888;
}

/* locale */

.QBTN-button-container.QBTN-TYPE-A .QBTN-locale {
  position: relative; /* This makes it the reference point for its absolutely positioned children */
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 50px;
}

.QBTN-button-container.QBTN-TYPE-A .QBTN-locale-button {
  cursor: pointer;
  position: relative; /* To position the selector relative to the button */
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 12px;
  width: 30px;
  background-color: #fff;
  border: 1px solid #aaa;
  cursor: pointer;
  padding: 4px 6px 4px 5px;
  border-radius: 3px;
}

.QBTN-button-container.QBTN-TYPE-A .QBTN-locale-button .QBTN-locale-icon {

}

.QBTN-button-container.QBTN-TYPE-A .QBTN-locale-button .QBTN-arrow-icon {
  width: 10px;
}

/* Icons inside the localeButton */
.QBTN-button-container.QBTN-TYPE-A .QBTN-locale-button img {
  /* Assuming the icons are appropriately sized, you might need additional styles for alignment and sizing */
  height: 100%; /* Adjust based on actual icon size */
}

.QBTN-button-container.QBTN-TYPE-A .QBTN-selector {
  cursor: pointer;
  display: none; /* Initially hidden */
  flex-direction: column;
  background-color: white;
  position: absolute;
  top: 25px; /* Adjust based on the actual needs, considering borders and padding */
  left: 0;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.QBTN-button-container.QBTN-TYPE-A .QBTN-selector p {
  font-family: 'Helvetica', 'san-serif';
  font-size: 0.8em;
  margin: 0;
  padding: 10px 10px; /* Provides padding inside each language option */
  cursor: pointer;
}

.QBTN-button-container.QBTN-TYPE-A .QBTN-selector p.disabled,
.QBTN-button-container.QBTN-TYPE-A .QBTN-selector p.disabled:hover {
  background-color: #dedede;
  color: #636363;
}

.QBTN-button-container.QBTN-TYPE-A .QBTN-selector p:hover {
  background-color: #f0f0f0; /* A subtle hover effect for language options */
}

/* balloon */

.QBTN-balloon-container.QBTN-TYPE-A {
  position: absolute;
  font-family: 'Helvetica', 'san-serif';
  top: 0;
  left: 0;
  transition: transform 0.3s, opacity 0.3s;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
}

.QBTN-balloon-container.QBTN-TYPE-A .QBTN-balloon-rect {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 4%);  /* centering in the container */
  background: white;
  border: 1px solid #ccc;
  padding: 10px;
  display: flex;
  flex-direction: column;
  width: 52vw;
  min-width: 300px;
  height: 40vh;
  padding: 4px 6px;
  background: white;
  border: 0.1px solid #7b7b7b;
  border-radius: 17px;
  box-shadow: 4px 3px 12px 2px rgba(0, 0, 0, 0.1);
  z-index: 999;
}

.QBTN-balloon-container.QBTN-TYPE-A .QBTN-balloon-leg {
  position: absolute;
  top: -19px; /* Adjust based on the actual size of the leg image */
  left: 10px;
  width: 19px; /* Adjust based on the actual size */
}

.QBTN-balloon-container.QBTN-TYPE-A ul.QBTN-dialogue {
  display: flex;
  flex-direction: column;
  align-items: start;
  text-align: left;
  overflow-y: auto;
  margin-top: 4px;
  font-size: 1em;
  color: #999;
  text-overflow: ellipsis;
  word-break: break-word;
  padding: 8px 5px 0px 8px;
  margin-bottom: 25px;
}

.QBTN-balloon-container.QBTN-TYPE-A li.QBTN-turn {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  padding-bottom: 8px;
}

.QBTN-balloon-container.QBTN-TYPE-A li.QBTN-turn .QBTN-messageContainer {
  display: block;
}

.QBTN-balloon-container.QBTN-TYPE-A span.QBTN-speaker, p.QBTN-message {
  font-size: 1em;
  text-align: left;
  word-wrap: break-word;
}

.QBTN-balloon-container.QBTN-TYPE-A span.QBTN-speaker {
  padding-right: 7px;
  font-size: 0.5em;
  font-weight: 700;
  width: 27px;
  min-width: 27px; /* Ensure it doesn't shrink */
  max-width: 27px; /* Ensure it doesn't grow */
}

.QBTN-balloon-container.QBTN-TYPE-A p.QBTN-message {
  display: inline;
  flex-grow: 1; /* Allow message to take up remaining space */
  margin: 0px;
  font-size: 0.9em;
}

.QBTN-balloon-container.QBTN-TYPE-A .QBTN-system .QBTN-speaker {
  color: #77b4ef;
}
.QBTN-balloon-container.QBTN-TYPE-A .QBTN-system .QBTN-message {
  color: #0079ef;
}
.QBTN-balloon-container.QBTN-TYPE-A .QBTN-user .QBTN-speaker {
  color: #A5A5A5;
}
.QBTN-balloon-container.QBTN-TYPE-A .QBTN-user .QBTN-message {
  color: #000;
}

.QBTN-balloon-container.QBTN-TYPE-A .QBTN-poweredby {
  position: absolute;
  bottom: 5px;
  left: 5px;
  width: 20%;
  max-width: 37px;
  margin-left: 3px;
}

.QBTN-balloon-container.QBTN-TYPE-A .QBTN-annotation {
  position: absolute;
  display: flex;
  justify-content: right;
  align-items: center;
  bottom: 5px;
  right: 5px;
  text-align: left;
  color: #a9a9a9;
  font-size: 0.5em;
  font-weight: 800;
  width: 80%;
  max-height: 24px;
  line-height: 9px;
}

.QBTN-balloon-container.QBTN-TYPE-A.QBTN-close {
  display: none;
}
.QBTN-balloon-container.QBTN-TYPE-A.QBTN-show {
  display: block;
}
.QBTN-balloon-container.QBTN-TYPE-A.QBTN-close-by-scale {
  animation: popDownToLeftTop 0.4s cubic-bezier(.65,0,.34,1) forwards;
}
.QBTN-balloon-container.QBTN-TYPE-A.QBTN-show-by-scale {
  animation: popUpFromLeftTop 0.3s cubic-bezier(.65,0,.34,1) forwards;
}

@keyframes popUpFromLeftTop {
  0% {
      visibility: hidden;
      transform: scale(0);
      transform-origin: left top;
  }
  100% {
      visibility: visible;
      transform: scale(1);
      transform-origin: left top;
  }
}

@keyframes popDownToLeftTop {
  0% {
      visibility: visible;
      transform: scale(1);
      transform-origin: left top;
  }
  100% {
      visibility: hidden;
      transform: scale(0);
      transform-origin: left top;
  }
}